<div id="aboutPageContainer">
    <h1 id="aboutTitle">Overview</h1>
    <p>
        Creating your custom lightscreen with LightScreen.art is a fun and easy process completed in just a 
        few steps. In this overview, we'll outline the steps providing detail and background to help you make 
        your absolute best lightscreen.
    </p>
    <h3>Step One</h3>
    <p>
        After clicking on the “Let's Start” button on our introductory page, we'll ask you a couple of quick 
        questions about the window you plan to cover with your custom lightscreen. We need to know what type 
        of window you plan to cover because lightscreens are constructed from multiple panels and we size 
        those panels depending upon type to result in a lightscreen that completely covers the window glass.
    </p>
    <p>First, we'll ask you about window dividers. In this case, windows come in three main types:</p>
    <p>
        <b>No Dividers:</b> Those that are a single glass pane with nothing but glass between the sides of 
        the window frame.
    </p>
    <p>
        <b>Raised Dividers:</b> Those that have panes of glass that are physically separated by thin 
        strips (usually wood). These windows are divided into multiple square or rectangular panes. 
        Windows of this type are usually older or designed to look traditional. Until the 20th century 
        making large plates of glass was difficult and expensive so most windows used dividers to make 
        multiple small panes into a single large window.
    </p>
    <p>
        <b>Embedded Dividers:</b> Those that have a single glass pane between the sides of the window frame 
        but have dividers embedded between the two glass sheets in a double pane window. This type of window 
        was a way of making a modern window look more traditional at a lesser cost than raised dividers. 
        They were popular in the last half of the 20th century and less so today.
    </p>
    <p>
        When there are no dividers, we size the panels based upon the window dimensions themselves and the 
        dimensions of our 3D printers that build the lightscreen frame. Our algorithm is designed to cover 
        your window with the fewest number of panels possible.
    </p>
    <p>
        When there are raised dividers, we consider your window to be a number of relatively small panels, 
        each covering the panes between the dividers. In this case, it's the dimensions of these panes, not 
        the dimensions of the entire window that determine how we size panels to result in a complete 
        lightscreen.
    </p>
    <p>
        Finally, when there are embedded dividers we again consider the window to be a collection of panes 
        but instead of having the lightscreen panels reside between the dividers, we size them such that the 
        panels meet over the embedded dividers so that the two adjoining panel frames cover the embedded 
        divider below. So whatever type of window you have, no dividers, raised dividers or embedded 
        dividers, your lightscreen will both cover the glass and look great.
    </p>
    <p>
        <i><b>Pro Tip:</b> Note that if your window has no dividers, we will select the number of panels 
            required to cover your window, always going with the fewest number of panels possible. If you 
            would prefer to set the panelization yourself, that may be achieved through a workaround: 
            Although the window has no dividers, instead select the embedded divider option. Then select 
            a number of dividers one less than your desired number of panels for that row or column, set 
            the divider width to 0.0625 inches (1 mm) and then decrease the overall size of the window sides 
            by the number of dividers on that side multiplied by the divider width. For example, if your 
            window is 18 inches (457 mm) wide by 36 inches (914 mm) high, we will panelize it into one panel 
            across and two  panels down, each measuring 18 inches wide by 18 inches  high. If you would 
            prefer to have two panels across and four panels down, indicate one vertical divider and three 
            horizontal dividers, 0.0625 inch (1 mm) divider width and decrease the overall window size to 
            be 17.938 (456 mm) wide by 35.8125 inches (911 mm) high. Note that panels may be no smaller than 
            4 inches (100 mm) and no larger than 19 inches (480 mm) on any side.
        </i>
    </p>
    <p>
        After you select your window type by clicking one of the three window buttons, two types of windows 
        will be displayed: Casement and Double Hung.
    </p>
    <p>
        A casement window is a single window with a single window frame. Sometimes they don't open at all 
        and in the cases where they do, it's usually done by turning a crank at the bottom of the window.
    </p>
    <p>
        Double hung windows consist of two separate window frames that are opened by pulling the lower 
        window (the lower sash) up to be in front of the upper sash. Double hung windows often have a two 
        piece lock or locks on top of the lower sash frame and the bottom of the top sash frame. This lock 
        complicates the design and installation of your lightscreen.
    </p>
    <p><i>If your double hung window has a lock, you have a few options:</i></p>
    <p>
        <i><b>Remove the lock:</b> If your window is in an area where you have no concerns about it being 
            opened (from the inside or the outside) you can simply remove the lock. If you don't plan to 
            open the window often, you can secure the window closed by means other than the lock such as 
            screws or other fasteners.
        </i>
    </p>
    <p>
        <i><b>Work around the lock:</b> Our lightscreens are 3/8 inch (10 mm) thick. If the back portion of 
            the lock on the bottom of the top sash frame is more than 3/8 inch from the window glass, the 
            lightscreen will fit behind the lock.
        </i>
    </p>
    <p>
        <i><b>Contact LightScreen.art:</b> If neither of those options are viable, contact us at 
            <a href="mailto: info@lightscreen.art">info@lightscreen.art</a> and we'll do what we can to find a solution that works for you. We plan to 
            enhance our web application to accommodate locks on double hung windows in the future.
        </i>
    </p>
    <p>
        When you click on either the Casement or the Double Hung window, you'll be advanced to the next step. 
        Note that if you'd like to go back to a previous step, click the back button displayed on each step of 
        our website and not the back button on your browser. Clicking the back button on your browser will 
        return you not to an earlier step in the process but rather a previously visited web page.
    </p>
    <br/>
    <br/>
    <br/>
    <h3>Step Two</h3>
    <p>
        In this step, we'll ask you for details on the size of your window. First, we'll ask for your 
        preferred unit of measure— we support both inches and millimeters. Note that currently we do not 
        support fractional inches meaning that in the likely event that your measurements are not in whole 
        inches, you'll need to enter decimal inches. For example, if your measurement is 12 3/8 inches, it 
        must be entered as 12.375 inches. A conversion table may be found 
        <a href="https://www.engineeringtoolbox.com/inches-decimal-equivalents-d_471.html" target="_blank">here</a>. 
        If you have no preference, millimeters is the best option as the internal workings of our site are 
        based on that unit of measure. From there, the details we require are dependent upon your selections 
        in the previous step. Specifically:
    </p>
    <p>
        <b>Casement windows with no dividers:</b> We need only the width and height of the window glass from 
        the inner side of one frame to the inner side of the opposite frame.
    </p>
    <p>
        <b>Casement windows with raised or embedded dividers:</b> We need the width and height of the 
        complete window glass, i.e. from one frame side of the other including the dividers. To work out 
        the correct panelization for your lightscreen, we'll need a few other data points:
    </p>
    <ul>
        <li><p>
            The number of horizontal dividers, i.e. the number of dividers that go from the left side of 
            the window to the right side.
        </p></li>
        <li><p>
            The number of vertical dividers, i.e. the number of dividers that go from the top of the window 
            to the bottom.
        </p></li>
        <li><p>
            The width of the dividers, i.e. the distance between one edge of the divider to the other edge. 
            For raised dividers, measure at the bottom closest to the window glass.
        </p></li>
    </ul>
    <p>
        With this information we'll calculate the size of the window panes between the dividers. For windows 
        with raised dividers, the size of the calculated panes will be the size of the panels that 
        collectively make up your lightscreen. For windows with embedded dividers the panels that make up 
        the lightscreen will be larger by half the width of the divider on all sides where there is a divider 
        so that the adjoining panel frames meet up over the embedded divider.
    </p>
    <p>
        <b>Double hung windows with no dividers:</b> This is similar to measuring for casement windows with 
        no dividers done twice. First, we'll ask you for the dimensions of the top sash, i.e. the window 
        glass in the top frame. When complete, click the Switch to Bottom Sash button and provide the 
        dimensions of the bottom sash, i.e. the window glass in the bottom frame. The dimensions for the 
        two sashes are often identical but can differ for height and even width so measure them both 
        individually.
    </p>
    <p>
        <b>Double hung windows with raised or embedded dividers:</b> This is the most involved type of window 
        to measure. We'll ask you for the width and height of the top sash, the number of horizontal and 
        vertical dividers and the divider width. Then we'll repeat the same questions for the bottom sash 
        after you've clicked the Switch to Bottom Sash button.
    </p>
    <p>
        When you've entered all the window dimension information requested, click the next button. This will 
        bring up a summary of your measurements for the overall window and, for windows with raised or 
        embedded dividers, the calculated dimensions of the panes between the dividers. We urge you to double 
        and even triple check all of the dimensions and correct them as necessary. If the calculated pane 
        dimensions are inconsistent with your observed pane measurements, adjust the overall window 
        measurement and/or the divider width until the dimensions in our system are consistent with your 
        measured dimensions.
    </p>
    <p>
        It cannot be stressed enough that providing us with accurate measurements is key to getting a 
        lightscreen that you'll love. Lightscreen panels that are too small will let in noticeable rays of 
        light, those that are too large will be difficult if not impossible to install. LightScreen.art will 
        produce your panels to the exact sizes that correspond to the dimensions you provide and cannot be 
        responsible for inaccurate measurements provided by our customers. Please (please) review our 
        <a href="javscript:void(0)" routerLink="/tutorials">measurement tutorial</a> for more information.
    </p>
    <br/>
    <br/>
    <br/>
    <h3>Step Three</h3>
    <p>
        In this step you'll be selecting a template for your custom lightscreen. These templates consist of 
        a number of panels that are consistent with the measurements provided in the previous step. The 
        templates are arranged by genre such as Artist Inspired, Garden, Interests and Classics. When you've 
        clicked on a genre button all the templates available within that genre that match your window's 
        dimensions will be displayed. We urge you to browse through all the genres to find the template you 
        believe to be the best suited for the window you plan to cover. When you click on a template you'll 
        be advanced to the next step.
    </p>
    <p>
        Note that not all possible combinations of available panels are represented in templates. If you 
        find that none of the available templates meet with your approval, it's possible to create custom 
        templates from our complete set of available panels. To access LightScreen.art's Template Design 
        Interface (TDI or “Teddy”) you must be a registered user. You may register by clicking the Signup 
        button on the upper right of our website and following the prompts. Please review our 
        <a href="javscript:void(0)" routerLink="/tutorials">TDI tutorial</a> for more information.
    </p>
    <br/>
    <br/>
    <br/>
    <h3>Step Four</h3>
    <p>
        Having provided your window dimensions and selected a template, you're now ready to begin 
        customizing your lightscreen by choosing colors for the individual panes from our extensive 
        color palette. Our palette consists of two main types of finishes: smooth and frosted. The type 
        of finish is indicated when you hover your mouse over a particular color swatch in our palette. 
        Smooth finishes provide a glossy appearance and frosted finishes provide a more matte finish. You 
        can mix and match smooth and frosted finishes on a single lightscreen or just go with one or the 
        other. Regardless of finish, all our panes are translucent meaning that they'll let in light but not 
        images: an important consideration when installing your lightscreen in places like a bath or 
        entryway.
    </p>
    <p>
        Pane color selection may be done on a manual, pane by pane basis, on an automatic basis or with a 
        combination of the two. In any case, coloring in your lightscreen is more fun and easier than a 
        coloring book or paint by numbers kit because we provide an undo button.
    </p>
    <p>
        <b>Manual Color Selection:</b> After selecting your template by clicking on it, you'll be advanced to 
        the coloring step. This section consists of three major areas: the active panel in the upper left, 
        the color palette below the active panel and the complete template view on the right. Note that the 
        template view is based upon default panel sizes and are not in the proportions associated with your 
        specific window dimensions. The active panel may be changed to another panel by clicking on the 
        desired panel in the complete template view. Only one panel, the active panel, may be colored at a 
        time. To begin coloring the active panel, click on a swatch within the color palette. Then click on 
        the panes in the active panel that you'd like to make that color. Selecting a different color and 
        clicking on a previously colored pane will change the pane to the new color so you may experiment 
        with multiple color selections. Note that as you move through this process, the pane colors will be 
        reflected both in the active panel and in the template view.
    </p>
    <p>
        <b>Autofill Color Selection:</b> For those who would like to expedite the color selection process 
        and/or those who would like a bit of guidance from professional designers, LightScreen.art provides 
        an autofill feature. Autofill is enabled by clicking the button in the upper left corner of the 
        active panel area. When autofill is enabled, selecting a color from the palette and then clicking on 
        a single pane will fill in not only that pane with that color but also every other pane on every 
        other panel that our designers consider similar enough to be of the same color for the entire 
        lightscreen. For example, if the chosen template depicts a rose, selecting red and then clicking on 
        a single petal will make all other rose petals on all panels the same red. Note that autofill doesn't 
        specify colors, rather it groups panes into various color groups so you may still customize your 
        lightscreen to your desired color scheme. Using the same example, selecting yellow and then clicking 
        on a single rose petal will color all other rose petals yellow.
    </p>
    <p>
        <b>Hybrid Color Selection:</b> You may toggle between manual and autofill modes by clicking the 
        autofill button on and off. It's typically better to start your design in autofill mode. Toggling 
        modes will not erase previously selected colors whether they were applied using the manual mode or 
        the autofill mode. However, when autofill mode is on and a single previously colored pane is changed 
        to a new color, all other panes that are considered to be similar by our designers will change to the 
        new color: click the undo button if you make a mistake. Using this hybrid approach, you can gain the 
        benefits of both modes: the speed and guidance of autofill and the granular detail of manual mode. 
        Continuing with the rose example above, you may start with autofill to color all rose petals red and 
        all rose stems green. Then you may toggle autofill off and color manually selected rose petals yellow 
        on a pane by pane basis.
    </p>
    <p>
        Continue this process or processes until all the panes in all the panels are of your desired colors 
        then click Next Step to advance to a summary of your order.
    </p>
    <br/>
    <br/>
    <br/>
    <h3>Step Five</h3>
    <p>
        In this step the details of your design are provided to you. At this stage we urge you to check your 
        provided measurements and our calculated dimensions yet again. Note that your panel dimensions are 
        provided, not the dimensions of the window panes between dividers on applicable windows. As in the 
        previous step, the lightscreen displayed will be based upon default panel sizes and not the specific 
        dimension you provided. If any corrections are necessary or if you'd just like to review the process, 
        click the back button in this step and the back button on previous steps and not your browser's back 
        button. When you're satisfied with all the details of your design, dimensions, template, colors, 
        etc., click the checkout button.
    </p>
    <br/>
    <br/>
    <br/>
    <h3>Step Six</h3>
    <p>
        Checkout is the final step in the process. Please provide the requested shipping information and the 
        required coupon code. If you don't have a coupon code, please email us at <a href="mailto: info@lightscreen.art">info@lightscreen.art</a>. 
        Your order will be processed, produced and delivered at soon as possible.
    </p>
    <p>Thank you for covering your windows in color and light with LightScreen.art!</p>
</div>