
@media only screen and (min-width: 576px) {
    .showOnMobile {
        display: none;
    }
    #galleryPhotosContainer {
        display: flex;
        flex-direction: column;
    }
    
    .galleryPhotoContainer {
        flex: 1;
        margin: 2vw;
        margin-bottom: 10vh;
        display: flex;
    }
    
    img {
        max-width: 64vw;
        height: 80vh;
        object-fit: contain;
        flex: 2;
    }
    
    .captions {
        flex: 1;
        height: fit-content;
        margin-top: 20vh;
    }
    figcaption {
        text-align: center;
        margin-top: 2vh;
        font-size: 1.4vw;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    
    h1 {
        margin-top: 5vh;
        text-align: center;
    }
}
@media only screen and (max-width: 576px) {

    .showOnLaptop {
        display: none;
    }
    #galleryPhotosContainer {
        display: flex;
        flex-direction: column;
    }
    
    .galleryPhotoContainer {
        flex: 1;
        margin: 5vw;
    }
    
    img {
        width: 90vw;
        object-fit: contain;
    }
    
    .captions {
        flex: 1;
        height: fit-content;
        margin-bottom: 20vh;
    }
    figcaption {
        text-align: center;
        margin-top: 2vh;
        font-size: 3vw;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }
    
    h1 {
        margin-top: 5vh;
        text-align: center;
    }
}