
@media only screen and (min-width: 576px) {
    .showOnMobile {
        display: none;
    }
    #galleryPhotosContainer {
        display: flex;
        flex-direction: column;
    }
    
    .galleryPhotoContainer {
        flex: 1;
        margin: 2vw;
        margin-bottom: 10vh;
        display: flex;
    }
    
    img {
        max-width: 64vw;
        height: 80vh;
        object-fit: contain;
        flex: 2;
    }
    
    .captions {
        flex: 1;
        height: fit-content;
        margin-top: 20vh;
    }
    figcaption {
        text-align: center;
        margin-top: 2vh;
        font-size: 1.4vw;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 300;
    }
    
    /* h1 {
        margin-top: 5vh;
        text-align: center;
    } */
}
@media only screen and (max-width: 576px) {

    .showOnLaptop {
        display: none;
    }
    #galleryPhotosContainer {
        display: flex;
        flex-direction: column;
    }
    
    .galleryPhotoContainer {
        flex: 1;
        margin: 5vw;
    }
    
    img {
        width: 90vw;
        object-fit: contain;
    }
    
    .captions {
        flex: 1;
        height: fit-content;
        margin-bottom: 20vh;
    }
    figcaption {
        text-align: center;
        margin-top: 2vh;
        font-size: 3vw;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 300;
    }
    
    /* h1 {
        margin-top: 5vh;
        text-align: center;
    } */
}

#getInspiredContainer {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    text-align: left;
}

.getInspiredSubHeader {
    font-size: small;
}

.getInspiredButton:hover {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.getInspiredImage {
    width: 25vw;
    height: 25vw;

}

#getInspiredType {margin-bottom: 5vh;}

.getInspiredImageTemplateCategory {
    margin-top: 1vh;
}
.getInspiredImageColorChoices {
    font-size: small;
}
#getInspiredPhotos {
    display: grid;
    grid-template-columns: 26.67vw 26.67vw 26.67vw; 
}