#designWindow {
    margin-left:0;
    width:55vw;
    border:3px solid black;
    padding:auto;
    position: relative;
}

.colorsOnLeft {
    position: relative;
    left: 0;
    top:0;
    width: 6vw;
    float: left;
}

#cursorBucket {
    position: absolute;
    display: none;
}
#designWindow:hover > #cursorBucket  {
    display: block;
} 

#svgTemplate {
    width:100%;
}
#currentTemplate {
    margin:auto;
    padding-top:2%;
    padding-bottom:4%;
    margin-top: -30vw;
    width:100%;
    overflow: visible;
}
 .backArrowIcon {
     margin-left: 1vw;
     margin-top: 1vw;
 }

 .onoffswitch {
     position: relative; left: 5px; width: 127px;
     -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
 }

 .onoffswitch-checkbox {
     position: absolute; left: 5px;
     opacity: 0;
     pointer-events: none; 
 }

 .onoffswitch-label {
     display: block; overflow: hidden; cursor: pointer;
     border-radius: 4px;
 }

 .onoffswitch-inner {
     display: block; width: 200%; margin-left: -100%;
     transition: margin 0.3s ease-in 0s;
 }

 .onoffswitch-inner:before, .onoffswitch-inner:after {
     display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
     font-size: 14px; color: white; font-weight: bold;
     box-sizing: border-box;
 }

 .onoffswitch-inner:before {
     content: "Autofill: ON";
     background-color: #EEEEEE; color: #666666;
     text-align: center;
 }

 .onoffswitch-inner:after {
     content: "Autofill: OFF";
     background-color: #EEEEEE; color: #666666;
     text-align: center;
 }

 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
     margin-left: 0;
 }

 @media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }
}