#designWindow {
    margin:auto;
    width:50%;
    border:3px solid black;
    padding:auto;
}

#svgTemplate {
    width:100%;
}

#currentTemplate {
    margin:auto;
    padding-top:25px;
    padding-bottom:25px;
    width:100%;
    overflow: visible;
}