<div id="designWindow">
    <div class="dropdown">
        <button class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1 dropdown-toggle" type="button" id="dropdownMenuButton" *ngIf="!isColorPage()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Frame Color
        </button>
        <div *ngIf="!isColorPage()" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="javascript:void(0)" style="background-color: #666666;color:#ffffff;" (click)="changeFrameColor('666666')" class="dropdown-item">Silver</a>
          <a href="javascript:void(0)" style="background-color: #FFD700;color:#ffffff;" (click)="changeFrameColor('FFD700')" class="dropdown-item">Gold</a>
          <a href="javascript:void(0)" style="background-color: #CD7F32;color:#ffffff;" (click)="changeFrameColor('CD7F32')" class="dropdown-item">Bronze</a>
          <a href="javascript:void(0)" style="background-color: #000000;color:#ffffff;" (click)="changeFrameColor('000000')" class="dropdown-item">Black</a>
        </div>
    </div>
    <!-- <input type="button" (click)="toggleAutofill()" class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1" id="autofillInput" value="Autofill"/> -->
    <div *ngIf="!isColorPage()" class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch_autofill">
        <label class="custom-control-label btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1" for="customSwitch_autofill">Autofill</label>
        <a class="btn text-center text-white btn-outline-light btn-floating m-1" data-toggle="modal" data-target="#howToModal4" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#FFD700" class="bi bi-question-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
        </a>
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="109mm" height="114mm" viewBox="-4 40 109 114" id="currentTemplate">
        <path id="svgTemplate" style="fill:#666666" d=""/>
        <path *ngFor="let i of range()" id="pane{{i}}" (click)="updateSelectedPane(i)"/>
    </svg>
  
    <!-- Modal for howTo info -->
    <div class="modal fade" id="howToModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{this.howToPosts[0].fields.stage}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span [innerHTML]="this.contentfulService.richtextToHtml(this.howToPosts[0].fields.bodyCopy)"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Back to Your Window</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1" (click)="undoChange()" type="button">
        Undo
    </button>
    <!-- <a class="btn bg-dark text-center text-white btn-outline-light btn-floating m-1" (click)="undoChange()" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
    </a> -->
    

    
    <input type="button" class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1 float-right" *ngIf="!isColorPage()" id="button_nextPane" value="Next Step" (click)="nextstage5();"
    />
    <input type="button" class="btn btn-med bg-light text-center btn-floating m-1 float-right" *ngIf="!isColorPage()" value="Previous Step" (click)="previousStage();"/>
</div>