#designWindow {
    margin:auto;
    width:55vw;
    border:3px solid black;
    padding:auto;
}

#svgTemplate {
    width:100%;
}

#currentTemplate {
    margin:auto;
    padding-top:2%;
    padding-bottom:4%;
    width:100%;
    overflow: visible;
}