<div id="designWindow">
    <!-- <input type="button" class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1" id="submitInput" value="Autofill"/>
    <a class="btn bg-dark text-center text-white btn-outline-light btn-floating m-1" data-toggle="modal" data-target="#exampleModalCenter" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFD700" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
            <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z"/>
          </svg>
    </a> -->
    <div class="dropdown">
        <button class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Frame Color
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="javascript:void(0)" style="background-color: #666666;color:#ffffff;" (click)="changeFrameColor('666666')" class="dropdown-item">Silver</a>
          <a href="javascript:void(0)" style="background-color: #FFD700;color:#ffffff;" (click)="changeFrameColor('FFD700')" class="dropdown-item">Gold</a>
          <a href="javascript:void(0)" style="background-color: #CD7F32;color:#ffffff;" (click)="changeFrameColor('CD7F32')" class="dropdown-item">Bronze</a>
          <a href="javascript:void(0)" style="background-color: #000000;color:#ffffff;" (click)="changeFrameColor('000000')" class="dropdown-item">Black</a>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="109mm" height="114mm" viewBox="-4 40 109 114" id="currentTemplate">
        <path id="svgTemplate" style="fill:#666666" d=""/>
        <path *ngFor="let i of range()" id="pane{{i}}" (click)="updateSelectedPane(i)"/>
    </svg>
  
    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Autofill</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Our designers have created custom color templates that take away the stress of finding the correct 
            layout for your colors. Simply click on a pane with the color you like best and watch as your window fills up. 
            If you don't like the final result, turn off autofill and color in pane by pane. 
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Back to Coloring</button> -->
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <!-- </div>
        </div>
        </div>
    </div> -->
    
    <a class="btn bg-dark text-center text-white btn-outline-light btn-floating m-1" (click)="undoChange()" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
    </a>
    

    
    <input type="button" class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1 float-right" id="button_nextPane" value="Next Step" (click)="nextstage5();"
    />
    <input type="button" class="btn btn-med bg-light text-center btn-floating m-1 float-right" value="Previous Step" (click)="previousStage();"/>
</div>