<div id="designWindow" >  <!-- (mousemove)="onMousemove($event)"-->
    <!-- <div id="cursorBucket" [style.top]="mouseY+'px'" [style.left]="mouseX+'px'">
        <svg
            width="8.4666805mm"
            height="12.98891mm"
            viewBox="0 0 8.4666805 12.98891"
            version="1.1"
            id="svg287"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs
                id="defs284" />
                <g
                    id="g282"
                    transform="translate(-4.2333399,2.7351199)">
                    <g
                    id="layer1"
                    transform="translate(-58.232467,-138.44829)">
                    <g
                        id="g224">
                        <path
                        style="fill:#010002;stroke-width:0.21709"
                        d="m 70.751345,139.75017 c -0.0085,-2.22734 -1.823119,-4.037 -4.052196,-4.037 -2.229512,0 -4.043731,1.80966 -4.052197,4.037 l -0.17975,1.93905 c -0.0085,0.0916 0.02214,0.18192 0.0838,0.24965 0.06165,0.0675 0.149141,0.10594 0.240536,0.10594 h 0.524488 v 6.33164 c 0,0.17975 0.145885,0.32563 0.325635,0.32563 h 6.114766 c 0.179967,0 0.325635,-0.14588 0.325635,-0.32563 v -6.33142 h 0.524706 c 0.09161,0 0.178881,-0.0386 0.240535,-0.10594 0.06165,-0.0679 0.09226,-0.15848 0.0838,-0.24966 z m -1.320557,8.30086 h -5.463496 v -6.33164 -0.54272 h 5.463496 v 0.54272 z m 0.65127,-6.65727 v -0.54273 c 0,-0.17975 -0.145668,-0.32563 -0.325635,-0.32563 h -6.114766 c -0.17975,0 -0.325635,0.14588 -0.325635,0.32563 v 0.54273 h -0.167376 l 0.148055,-1.598 c 0.0011,-0.01 0.0015,-0.02 0.0015,-0.0302 0,-1.87543 1.525489,-3.40092 3.400928,-3.40092 1.875221,0 3.400927,1.52549 3.400927,3.40092 0,0.0102 4.34e-4,0.0204 0.0013,0.0302 l 0.148272,1.598 z"
                        id="path2" />
                        <path
                        id="rectPaint"
                        [attr.style]="'fill:#'+this.sharedDataService.currentPaneColor"
                        d="m 63.967293,144.88521 h 5.463496 v 3.16582 h -5.463496 z" />
                    </g>
                    </g>
                    <path
                        style="fill:#ffffff;stroke-width:0.264583"
                        d="M 5.734748,2.728235 V 3.0212399 6.436931 h 5.463496 V 3.0212399 2.728235 Z"
                        id="path338" />
                </g>
        </svg>
    </div> -->
    <app-colors-container *ngIf="!isColorPage()" [paneColors]=true class="colorsOnLeft"></app-colors-container>
    <app-colors-container *ngIf="isColorPage()" [paneColors]=false class="colorsOnLeft"></app-colors-container>
    <div class="float-right">
        <div class="dropdown">
            <button class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1 dropdown-toggle" type="button" id="dropdownMenuButtonFrame" *ngIf="!isColorPage()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Frame Color
            </button>
            <div *ngIf="!isColorPage()" class="dropdown-menu" aria-labelledby="dropdownMenuButtonFrame">
            <a href="javascript:void(0)" style="background-color: #666666;color:#ffffff;" (click)="changeFrameColor('666666')" class="dropdown-item">Silver</a>
            <a href="javascript:void(0)" style="background-color: #FFD700;color:#ffffff;" (click)="changeFrameColor('FFD700')" class="dropdown-item">Gold</a>
            <a href="javascript:void(0)" style="background-color: #CD7F32;color:#ffffff;" (click)="changeFrameColor('CD7F32')" class="dropdown-item">Bronze</a>
            <a href="javascript:void(0)" style="background-color: #000000;color:#ffffff;" (click)="changeFrameColor('000000')" class="dropdown-item">Black</a>
            <a href="javascript:void(0)" style="background-color: #d0d0d0;color:#000000;" (click)="changeFrameColor('d0d0d0')" class="dropdown-item">White</a>
            </div>
        </div>
        <!-- <input type="button" (click)="toggleAutofill()" class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1" id="autofillInput" value="Autofill"/> -->
        <div *ngIf="!isColorPage()" class="onoffswitch">
            <input type="checkbox" class="onoffswitch-checkbox" id="customSwitch_autofill" checked>
            <label class="onoffswitch-label" for="customSwitch_autofill"><span class="onoffswitch-inner"></span></label>
            <!-- <a class="btn text-center text-white btn-outline-light btn-floating m-1" data-toggle="modal" data-target="#howToModal4" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FFD700" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </a> -->
        </div>
        <div *ngIf="!isColorPage()" class="darkModeSwitch">
            <input (click)="refreshCurrentPanel()" type="checkbox" class="darkModeSwitch-checkbox" id="customSwitch_DarkMode" checked>
            <label class="darkModeSwitch-label" for="customSwitch_DarkMode"><span class="darkModeSwitch-inner"></span></label>
            <!-- <a class="btn text-center text-white btn-outline-light btn-floating m-1" data-toggle="modal" data-target="#howToModal4" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FFD700" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
            </a> -->
        </div>
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="109mm" height="114mm" viewBox="-4 40 109 114" id="currentTemplate">
        <path id="svgTemplate" [attr.fill]="'#'+this.sharedDataService.currentFilamentColor" d=""/>
        <path *ngFor="let i of range()" id="pane{{i}}" (click)="updateSelectedPane(i)"/>
    </svg>
  
    <!-- Modal for howTo info -->
    <div class="modal fade" id="howToModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{this.howToPosts[0].fields.stage}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span [innerHTML]="this.contentfulService.richtextToHtml(this.howToPosts[0].fields.bodyCopy)"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Back to Your Window</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn btn-med bg-dark text-center text-white btn-outline-light btn-floating m-1" (click)="undoChange()" type="button">
        Undo
    </button>
    <!-- <a class="btn bg-dark text-center text-white btn-outline-light btn-floating m-1" (click)="undoChange()" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
          </svg>
    </a> -->
    
    <input type="button" class="btn btn-med bg-light text-center btn-floating m-1 float-right linkText" *ngIf="!isColorPage()" value="more" data-toggle="modal" data-target="#howToModal4" />
    

    
    <!-- <input type="button" class="btn btn-med bg-light text-center btn-floating m-1 float-right" *ngIf="!isColorPage()" value="Previous Step" (click)="previousStage();"/> -->
</div>