#landingPage3 {background-color: #1A1919;}
#landingPage1 {background-color: #ffffff;}
.landingPage {display: flex;}
#landingPage1 {flex-direction: column;}

#landingPage6 {position: relative; margin-bottom: 20vh;}

/* Mobile site styling */
@media only screen and (max-width: 576px) {
    /* Landing page 1 */
    #landingPage1 {flex-direction: column;}
    #landingImg1 {
        max-width: 100vw;
        max-height: 90vh;
    }
    .img1, .img2 {max-width: 100vw;}
    .text1 {font-size: 12vw;}
    .startDesigning1, .startDesigning6 {
        width:55vw;
        font-size: 5.5vw;
    }
    .startDesigning1, .startDesigning6 {
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 400;
    }
    
    .startDesigning6 {
        margin: auto;
        border: 1px solid black;
        margin-bottom: 10vh;
    }
    .inputField {
        width: 55vw;
        font-size: 5vw;
        margin-right: 2vw;
        margin-bottom: 2vh;
    }
    .registerBtn {font-size: 5vw;}

    /* Landing page 2 */
    #landingPage2 {flex-direction: column-reverse;}
    #landingImg2 {
        max-width: 100vw;
        max-height: 90vh;
    }
    #sideText2 {
        margin-left: 3vw;
        margin-top: 2vh;
        margin-right: 3vw;
        width: 80vw;
    }
    .text2, .text4 {font-size: 12vw;}
    .bodyText2 {font-size: 4.5vw;}

    /* Landing page 3 */
    #sideText3 {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 100vw;
    }
    .text3 {font-size: 12vw;}
    .bodyText3 {font-size: 8vw;}

    /* Landing page 5 */
    #landingPage3, #landingPage5 {margin-bottom: 2vh;}

    /* Landing page 6 */
    #printerVideo {
        width: 100vw;
        height: 30vh;
        object-fit: fill;
    }
    #sideText6 {top: 5vh;}
    .text6 {width: 90vw;}
}

/* Laptop styling */
@media only screen and (min-width: 576px) {
    .landingPage {margin-bottom: 66px;}

    /* Landing page 1 */
    #landingImg1 {
        width: 100vw;
        height:75vh;
        position: relative;
    }
    .text1 {
        font-size: 5.5vw;
    }
    .startDesigning1, .startDesigning6 {
        width:22vw;
        font-size: 2vw;
    }
    .startDesigning1, .startDesigning6 {
        margin-top: 1vh;
        margin-bottom: 2vh;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 400;
    }
    
    .startDesigning6 {
        margin: auto;
        margin-top: 5vh;
        border: 1px solid black;
        margin-bottom: 10vh;
    }
    .inputField {
        width: 22vw;
        font-size: 1.6vw;
    }
    .registerBtn {font-size: 1.6vw;}

    /* Landing page 2 */
    #landingImg2 {
        width: 60vw;
        max-height: 90vh;
    }
    #sideText2 {
        margin-left: 3vw;
        margin-right: 3vw;
        width: 33vw;
    }
    .text2, .text4 {font-size: 4vw;}
    .bodyText2 {font-size: 1.6vw;}
    .img2 {max-width: 67vw;}

    /* Landing page 3 */
    #sideText3 {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
    }
    .text3 {font-size: 4vw;}
    .bodyText3 {font-size: 3.2vw;}

    /* Landing page 4 */
    #landingPage4 {margin-bottom: 66px;}

    /* Landing page 6 */
    #printerVideo {
        width: 100vw;
        height: 90vh;
        object-fit: fill;
    }
    #sideText6 {top: 20vh;}
    .text6 {width: 60vw;}
}




#sideText1 {
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

#sideText2 {
    margin-left: 3vw;
    margin-right: 3vw;
}

#sideText6 {
    position:absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    height: 1px; 
}
.hr-dark {
    /* Set the hr color */
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
}
.hr-light {
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}


.text1, .text6 {
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}

.text2, .text4 {
    color: black;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}
.text4, .text6 {text-align: center;}
.text6 {margin: auto; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;}

.text3 {
    text-align: center;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}

.bodyText2 {
    margin-right: 2vw;
    color: black;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

#requiredRegister {
    display: flex;
    margin:auto;
}

.bodyText3 {
    text-align: center;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

form {
    display: flex;
}

.inputField {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}


.registerBtn {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
}
.registerBtn6 {border: 1px solid black;}


.img1, .img2 {
    width: 100vw;
    height:75vh;
    object-fit: cover;
}

.img5 {
    width:100vw;
    height:90vh;
    object-fit: cover;
}

.imgChart {
    max-width: 100vw;
    max-height: 80vh;
    margin:auto;
    object-fit: contain;
}

#landingPage1Text {
    display: flex;
    padding-top: 4vh;
    margin-bottom:5vh;
}
.landingPage1TextItem {
    flex:1;
    margin-left: 1vw;
    font-weight: 600;
}

.startDesigningHeader {
    width: 100vw;
    height:15vh;
    padding-top: 4vh;
    font-weight: 600;
    text-align: center;
    background-color: antiquewhite;
}

.designerTempPalletesButton {
    width: 50vw;
    margin-left:3vw;
    font-size: 2.5vw;
    margin-top: 2vh;
    display: flex;
    float: left;
}
.designerTempPalletesButton, .designerTempPalletesBottomButton {
    background-color: #1E1C1A;
    border-radius: 20px;
}


.landingPage2BottomButtons {
    /* margin-top:2vh; */
    display: flex;
    flex-direction: column;
    margin-bottom:5vh;
}

.designerTempPalletesBottomButton {
    width:42vw;
    margin-right:3vw;
    margin-left:2vw;
    display: flex;
    margin-bottom: 2vh;
}

.designerTempPalletesButtonText {
    margin-left: 5vw;
    text-align: left;
}
#landingPage5 {
    position: relative;
}
#landingPage6 {display: flex;}
.img6 {
    width:18vw;
    height:18vw;
    margin-left:1vw;
    margin-top: 1vw;
}
.img6Background {
    position: relative;
    margin-left: 10vw;
    width:20vw;
    height:20vw;
    background-color: #000000;
}
.img6Text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    color:white;
    margin-left:1.5vw;
    margin-right:1.5vw;
    top:30%;
}
.img6Background:hover .img6Text {
    visibility: visible;
    opacity: 1;
}

.img6Background:hover .img6{
    opacity: .2;
}

.designByHumanButton {
    z-index: 100;
    position: absolute;
    left:3vw;
    top:40%;
    width:20vw;
    background-color: #000000aa;
    text-align: left;
    font-size: 1.5vw;
}

.headerTransparent1 {
    position: absolute;
    top:170px;
    left:120px;
    width:270px;
    height: 65px;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3aa;
    border-radius: 10px;
}
.startDesigningButtonTransparent {
    text-decoration: none;
    color: white;
}
.headerTransparent2 {
    position: absolute;
    top:210px;
    left:270px;
    width:160px;
    height: 40px;
    background-color: #0000007a;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
}