<div id="landingPage1" class="landingPage">
    <div id="landingImg1">
        <img class="img1" src="assets/img/landingPageImg1.jpg" alt="First slide"/>
    </div>
    <div id="sideText1">
        <h1 class="text1">The art of <br/>stained glass, modernized.</h1>
        <button class="btn btn-outline-light startDesigning1" (click)="nextstage2()"><b>Start Designing</b></button>
        <div id = "news_text">
            <span class="light" [innerHTML]="this.contentfulService.addModalLink(this.contentfulService.markdownToHtml(this.posts[0].fields.stage1news), 1)"></span>
        </div>
        <form *ngIf="this.sharedDataService.userInfo.length <= 1" [formGroup]="emailForm">
            <div class="form-group mt-2 mb-2">
                <input type="text" placeholder="Enter Email" formControlName="email" class="form-control inputField" />
                <div style="color: red;" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                  <span *ngIf="email?.errors?.['required']">*Email is required</span>
                  <span *ngIf="email?.errors?.['email']">*Enter valid email (example@gmail.com)</span>
                </div>
            </div>
            <div class="form-group sendButton mt-2 mb-2">
              <button class="btn btn-outline-light registerBtn" (click)="submitEmailForm()"><b>Register</b></button>
            </div>
        </form>
    </div>
</div>

<div id="landingPage2" class="landingPage">
    <div id="sideText2">
        <h1 class="text2">Custom, <br/>beautiful,<br/>functional,<br/>1/2 the cost...</h1>
        <hr class="hr-dark" />
        <p class="bodyText2">... or less</p>
        <p class="bodyText2">At LightScreen.art we apply technology to deliver the look of custom stained glass at a fraction of the price. 
            Made from shatterproof acrylic in rugged 3D printed frames, lightscreens are a different way of doing things.</p>
    </div>
    <div id="landingImg2">
        <img class="img2" src="assets/img/landingPageImg2.png" alt="First slide"/>
    </div>
</div>

<div id="landingPage3" class="landingPage">
    <div id="sideText3">
        <h1 class="text3">Lightscreens aren't <br/>for everyone.</h1>
        <hr class="hr-light" />
        <h3 class="bodyText3">We are passionate <br/>about serving those who <br/>demand something <b><u><i>beyond the ordinary</i></u></b>.</h3>
    </div>
</div>

<div id="landingPage4">
    <h1 class="text4">Product Gallery</h1>
    <app-carousel [startNumber]="0"></app-carousel>
</div>

<div id="landingPage5" class="landingPage">
    <img class="imgChart" src="assets/img/comparisonChart.png" alt="Comparison Chart"/>
</div>

<div id="landingPage6">
    <!-- The video -->
    <video muted autoplay playsinline loop id="printerVideo">
        <source src="assets/img/LSAprinterVideo.mp4" type="video/mp4">
    </video>
    
    <!-- Optional: some overlay text to describe the video -->
    <div id="sideText6">
        <h1 class="text6">Our 3D Printers are standing by.</h1>
        <button class="btn btn-light startDesigning6" (click)="nextstage2()"><b>Start Designing</b></button>
    </div>
</div>

