#landingPage1, #landingPage3 {background-color: #1A1919;}

.landingPage {display: flex;}

#landingPage6 {position: relative;}

/* Mobile site styling */
@media only screen and (max-width: 576px) {
    /* Landing page 1 */
    #landingPage1 {flex-direction: column;}
    #landingImg1 {
        max-width: 100vw;
        max-height: 90vh;
    }
    .img1, .img2 {max-width: 100vw;}
    .text1 {font-size: 12vw;}
    .startDesigning1, .startDesigning6 {
        width:55vw;
        font-size: 5.5vw;
    }
    .inputField {
        width: 55vw;
        font-size: 5vw;
        margin-right: 2vw;
        margin-bottom: 2vh;
    }
    .registerBtn {font-size: 5vw;}

    /* Landing page 2 */
    #landingPage2 {flex-direction: column-reverse;}
    #landingImg2 {
        max-width: 100vw;
        max-height: 90vh;
    }
    #sideText2 {
        margin-left: 3vw;
        margin-top: 2vh;
        margin-right: 3vw;
        width: 80vw;
    }
    .text2, .text4 {font-size: 12vw;}
    .bodyText2 {font-size: 4.5vw;}

    /* Landing page 3 */
    #sideText3 {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 3vw;
        margin-right: 3vw;
        width: 100vw;
    }
    .text3 {font-size: 12vw;}
    .bodyText3 {font-size: 8vw;}

    /* Landing page 5 */
    #landingPage3, #landingPage5 {margin-bottom: 2vh;}

    /* Landing page 6 */
    #printerVideo {
        width: 100vw;
        height: 30vh;
        object-fit: fill;
    }
    #sideText6 {top: 5vh;}
    .text6 {width: 90vw;}
}

/* Laptop styling */
@media only screen and (min-width: 576px) {
    .landingPage {margin-bottom: 66px;}

    /* Landing page 1 */
    #landingImg1 {
        max-width: 57vw;
        max-height: 90vh;
    }
    .img1 {max-width: 57vw;}
    .text1 {
        font-size: 5.5vw;
    }
    .startDesigning1, .startDesigning6 {
        width:22vw;
        font-size: 2vw;
    }
    .inputField {
        width: 22vw;
        font-size: 1.6vw;
    }
    .registerBtn {font-size: 1.6vw;}

    /* Landing page 2 */
    #landingImg2 {
        max-width: 67vw;
        max-height: 90vh;
    }
    #sideText2 {
        margin-left: 3vw;
        margin-right: 3vw;
        width: 33vw;
    }
    .text2, .text4 {font-size: 4vw;}
    .bodyText2 {font-size: 1.6vw;}
    .img2 {max-width: 67vw;}

    /* Landing page 3 */
    #sideText3 {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;
        width: 80vw;
    }
    .text3 {font-size: 4vw;}
    .bodyText3 {font-size: 3.2vw;}

    /* Landing page 4 */
    #landingPage4 {margin-bottom: 66px;}

    /* Landing page 6 */
    #printerVideo {
        width: 100vw;
        height: 90vh;
        object-fit: fill;
    }
    #sideText6 {top: 20vh;}
    .text6 {width: 60vw;}
}




#sideText1 {
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

#sideText2 {
    margin-left: 3vw;
    margin-right: 3vw;
}

#sideText6 {
    position:absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

hr {
    border: none;
    height: 1px; 
}
.hr-dark {
    /* Set the hr color */
    color: black; /* old IE */
    background-color: black; /* Modern Browsers */
}
.hr-light {
    /* Set the hr color */
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}


.text1, .text6 {
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}

.text2, .text4 {
    color: black;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}
.text4, .text6 {text-align: center;}
.text6 {margin: auto; text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;}

.text3 {
    text-align: center;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}

.bodyText2 {
    margin-right: 2vw;
    color: black;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

#requiredRegister {
    display: flex;
    margin:auto;
}

.bodyText3 {
    text-align: center;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

form {
    display: flex;
}

.form-group {
    margin-right: 1vw;
}

.inputField {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}


.startDesigning1, .startDesigning6 {
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

.startDesigning6 {
    margin: auto;
    margin-top: 5vh;
    border: 1px solid black;
    margin-bottom: 10vh;
}

.registerBtn {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}
.registerBtn6 {border: 1px solid black;}


.img1, .img2 {
    max-height: 90vh;
    object-fit: contain;
}

.imgChart {
    max-width: 100vw;
    max-height: 80vh;
    margin:auto;
    object-fit: contain;
}