<div id="fullOrderListContainer">
    <div *ngFor="let userOrder of this.sharedDataService.shoppingCart; let i = index">
        <div class="form-check-inline userOrder orderViewContainer">
            <label class="form-check-label orderViewBody" for="{{'flexRadioDefault'+i}}">{{("Order #" + (i+1))}}</label>
            <div class="orderViewImageAndButtons">
                <div class="orderViewRowsTogether">
                    <div class="orderViewRow" *ngFor="let row of getPanelLayout(getOrderTemplate(userOrder), i); let rowNumber = index;">
                        <svg *ngFor="let svgTemplate of row; let panelNum = index" xmlns="http://www.w3.org/2000/svg" class="svgTemplateIcons" [attr.viewBox]="getTemplateViewBox(svgTemplate.getOptimizedD())">
                            <path [attr.style]="'fill:#'+userOrder[22]" [attr.transform]="svgTemplate.getTransform()" [attr.d]="svgTemplate.getOptimizedD()"/>
                            <path [attr.style]="this.getPaneStyle(rowNumber, panelNum, paneNum, userOrder)" [attr.transform]="svgTemplate.scaledTransform"  *ngFor="let paneNum of range(svgTemplate.subShapes.length-1)" [attr.d]="svgTemplate.polygonPaths[paneNum+1]"/>
                        </svg>
                    </div>
                </div>

                <div class="orderViewButtons">
                    <p>{{userOrder[23]}}</p>
                    <input type="button" class="btn btn-med orderViewButton notOnMobile" (click)="this.removeItemFromCart(i)" [value]="'X'"/>
                    <!-- <input type="button" class="btn btn-dark btn-med orderViewButton notOnMobile" [value]="'Buy Again'"/> -->
                </div>
            </div>
        </div>
    </div>
    <p style="font-size: small;">**Taxes and shipping will be calculated at checkout**</p>
    <input type="button" class="btn completeOrderButton" *ngIf="this.sharedDataService.shoppingCart.length > 0" (click)="this.makeOrderMultiple()" [value]="'Complete Order'"/>
</div>