.colorButtons {
    flex:2;
    height:5vw;
    width:5vw;
    max-width: 50px;
    max-height: 50px;
}

/* Pane Color Offerings */
#button_0000ffff_true {background-color: #0000ffff;}
#button_ff0000ff_true {background-color: #ff0000ff;}
#button_008000ff_true {background-color: #008000ff;}
#button_000000ff_true {background-color: #000000ff;}
#button_ffff00ff_true {background-color: #ffff00ff;}
#button_ffffffff_true {background-color: #ffffffff;}
#button_ff0080ff_true {background-color: #ff0080ff;}
#button_ff8000ff_true {background-color: #ff8000ff;}
#button_00ffffff_true {background-color: #00ffffff;}
#button_00ff00ff_true {background-color: #00ff00ff;}

/* Filament color offerings */
#button_666666_false {background-color: #666666;}
#button_FFD700_false {background-color: #FFD700;}
#button_CD7F32_false {background-color: #CD7F32;}
#button_000000ff_false {background-color: #000000ff;}