.colorButtons {
    flex:2;
    height:5vw;
    width:5vw;
    max-width: 50px;
    max-height: 50px;
}

#colorIconContainer {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
/* Pane Color Offerings
#button_141315_true {background-color: #141315;}
#button_d6d2ce_true {background-color: #d6d2ce;}
#button_e8e7ea_true {background-color: #e8e7ea;}
#button_f0f0f1_true {background-color: #f0f0f1;}
#button_ff0000_true {background-color: #ff0000;} 
#button_bb2118_true {background-color: #bb2118;}
#button_eb5b78_true {background-color: #eb5b78;}
#button_b98ea8_true {background-color: #b98ea8;}
#button_e14931_true {background-color: #e14931;}
#button_f7af33_true {background-color: #f7af33;}
#button_e45323_true {background-color: #e45323;}
#button_dba22d_true {background-color: #dba22d;}
#button_f2cc2e_true {background-color: #f2cc2e;}
#button_c7c26b_true {background-color: #c7c26b;}
#button_054c20_true {background-color: #054c20;}
#button_0f7285_true {background-color: #0f7285;}
#button_66bebd_true {background-color: #66bebd;}
#button_178fdc_true {background-color: #178fdc;}
#button_5fbefd_true {background-color: #5fbefd;}
#button_89aecc_true {background-color: #89aecc;}
#button_b0c0c7_true {background-color: #b0c0c7;}
#button_75459a_true {background-color: #75459a;}
#button_bd96b8_true {background-color: #bd96b8;}
#button_2c1406_true {background-color: #2c1406;}
#button_dec89f_true {background-color: #dec89f;}
Filament color offerings */
/* #button_666666_false {background-color: #666666;}
#button_FFD700_false {background-color: #FFD700;}
#button_CD7F32_false {background-color: #CD7F32;}
#button_000000ff_false {background-color: #000000ff;}  */
