<!-- Navbar content -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><b><h4>LightScreen<i>dot</i>Art</h4
          ></b></a>
        <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link active">Contact</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Signup</a>
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div> 
  </div>
</nav>
<app-stage1 id="stage1"></app-stage1>
<app-stage2 id="stage2"></app-stage2>
<app-stage3 id="stage3"></app-stage3>
<app-stage4 id="stage4"></app-stage4>
<app-stage5 id="stage5"></app-stage5>
