.navbar-custom {
    background-color: black;
}

.up-contact {
    display: none;
}

@media only screen and (max-width: 576px) {
    #tdiLink {
        display: none;
    }

    .HideOnMobile > .navbar {
        padding: 0.5rem 0rem;
    }

    #contact {
        padding-top: 0;
    }

    /* #collapsibleNavbar > .navbar-nav > a:hover {
        background-color:rgba(160, 160, 160, 0.222);
    } */

    .up-contact {
        display: block;
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    #collapsibleNavbar > .navbar-nav {
        padding-left: 5px;
    }

    #collapsibleNavbar > .navbar-nav > .dropdown > .dropdown-menu {
        margin-left: -5px;
    }
}