<!-- Navbar content -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">LightScreen</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a href="#" class="nav-item nav-link active">Intro</a>
              <a href="#stage2" class="nav-item nav-link">Dimensions</a>
              <a href="#stage3" class="nav-item nav-link">Shape</a>
              <a href="#stage4" class="nav-item nav-link">Color</a>
              <a href="#stage5" class="nav-item nav-link">Buy</a>
          </div>
      </div>
  </div>
</nav>
<app-stage1 id="stage1"></app-stage1>
<app-stage2 id="stage2"></app-stage2>
<app-stage3 id="stage3"></app-stage3>
<app-stage4 id="stage4"></app-stage4>
<app-stage5 id="stage5"></app-stage5>
