.navbar-custom {
    background-color: black;
}

@media only screen and (max-width: 576px) {
    #tdiLink {
        display: none;
    }

    .HideOnMobile > .navbar {
        padding: 0.5rem 0.1rem;
    }
}