.navbar-custom {
    background-color: white;
}

#feedbackIcon {
    z-index:100;
    position: fixed;
    right:80px;
    bottom:0;
    background-color: #ffffff;
}

#helpIcon {
    z-index:100;
    position: fixed;
    right:0;
    bottom:45vh;
    background-color: #ffffff;
}

.navbarIcon {
    margin-left:2vw;
}
.contactForm {
    margin: auto;
    padding-bottom: 5vh;
}

.modal-title, .modal-text {
    text-align: center;
}
.modal-header, .modal-body {
    margin:auto;
}

.modal-emailForm {
    display: flex;
}

.sendButton {
    margin-left: 5px;
}

.contactFormButton {
    color: #ffffff;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    border: 1px solid black;
}

.navbar {padding: 0.5rem 0rem;}
.nav-item, .navbar-brand, .navbar-toggler {margin-left:2vw; margin-right: 2vw;}

/* Mobile styling */
@media only screen and (max-width: 576px) {
    .contactFormButton {
        font-size: 5vw;
    }
    .footerTag {
        font-size: 7vw;
    }
    .footerNote {
        font-size: 5vw;
    }
}

/* Laptop Styling */
@media only screen and (min-width: 576px) {
    .contactFormButton {
        font-size: 2vw;
    }
    .footerTag, .footerNote {
        font-size: 2vw;
    }
}

/* Old fix for collapsing navbar dynamic */
/* @media only screen and (max-width: 992px) {
    #tdiLink {
        display: none;
    }

    .HideOnMobile > .navbar {
        padding: 0.5rem 0rem;
    }

    .nav-item {
        margin-left:2vw;
    }

} */