.filter-green{
    filter:brightness(0%) invert(22%) sepia(79%) saturate(5135%) hue-rotate(122deg) brightness(92%) contrast(102%);
}
.filter-blue{ 
    filter:brightness(0%) invert(8%) sepia(100%) saturate(7034%) hue-rotate(248deg) brightness(107%) contrast(145%);
}
.filter-red{ 
    filter:brightness(0%) invert(16%) sepia(89%) saturate(6384%) hue-rotate(1deg) brightness(104%) contrast(122%);
}
.filter-yellow{ 
    filter:brightness(0%) invert(82%) sepia(81%) saturate(764%) hue-rotate(360deg) brightness(105%) contrast(101%);
}
.filter-black{ 
    filter:brightness(0%) invert(0%) sepia(100%) saturate(7461%) hue-rotate(155deg) brightness(0%) contrast(108%);
}
.filter-white{ 
    filter:brightness(0%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(59deg) brightness(100%) contrast(106%);;
}
.filter-magenta{ 
    filter:brightness(0%) invert(16%) sepia(90%) saturate(5903%) hue-rotate(322deg) brightness(100%) contrast(108%);
}
.filter-orange{ 
    filter:brightness(0%) invert(54%) sepia(49%) saturate(2791%) hue-rotate(359deg) brightness(101%) contrast(106%)
}
.filter-cyan{ 
    filter:brightness(0%) invert(81%) sepia(37%) saturate(3257%) hue-rotate(127deg) brightness(105%) contrast(106%);
}
.filter-lime{ 
    filter:brightness(0%) invert(65%) sepia(89%) saturate(3800%) hue-rotate(81deg) brightness(116%) contrast(128%);
}

.popup_image{
    text-align: center;
    position: relative;
}

.card-img {
    right: 0;
    left: 0;
    --width-size: 1;
    --height-size: 1;
    position: absolute;
}