<div id="stage3Container">
    <div class="sideText">
        <h1><b>About your window</b></h1>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                What's your preferred unit of measure?
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="changeUnits('inches')">inches</a>
              <a class="dropdown-item" (click)="changeUnits('mm')">mm</a>
              <a class="dropdown-item" (click)="changeUnits('cm')">cm</a>
            </div>
        </div>
        <div id="dividerDetailText" style="visibility: hidden;">
            <p>Enter your window's dimensions below. If you don't have exact dimensions now, 
                you can always go back to this step. Be sure to get your dimensions right!
            </p>
            <app-dimensions-form></app-dimensions-form>
        </div>
        <!-- Start of Breadcrumbs -->
        <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
            <div class="text-center">
                <a (click)="nextstage4()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
            </div>
            <a (click)="prestage2BCon()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
        </div> -->
        <!-- End of Breadcrumbs -->
    </div>
    <div class="dividerDetails">
        <app-divider-window></app-divider-window>
    </div>
</div>