<div id="stage3Container">
    <div *ngFor="let post of this.posts" class="sideText">
        <h4 class="headerTitle"><b>and now your dimensions</b></h4>
        <div class="unitButtons">
            <input type="radio" name="flexRadioDefault" [checked]="this.sharedDataService.unitChoice == 'inches'" id="inchesButton" (click)="changeUnits('inches')" />
            <label class="form-check-label" for="flexRadioDefault1">inches</label>
            <!-- <button class="btn btn-outline-dark unitButton" id="inchesButton" (click)="changeUnits('inches')" type="button">inches</button> -->
            <input type="radio" name="flexRadioDefault" [checked]="this.sharedDataService.unitChoice == 'mm'" id="mmButton" (click)="changeUnits('mm')" />
            <label class="form-check-label" for="flexRadioDefault1">millimeters</label>
            <!-- <button class="btn btn-outline-dark unitButton" id="mmButton" (click)="changeUnits('mm')" type="button">millimeters</button> -->
        </div>
        <div id="dividerDetailText" [attr.style]="this.getDimensionsFormVisibility()">
            <app-dimensions-form></app-dimensions-form>
        </div>
        <!-- Start of Breadcrumbs -->
        <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
            <div class="text-center">
                <a (click)="nextstage4()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
            </div>
            <a (click)="prestage2BCon()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
        </div> -->
        <!-- End of Breadcrumbs -->
    </div>
    <div class="dividerDetails notOnMobile">
        <app-divider-window></app-divider-window>
    </div>
</div>