#stage3Container {
    display: flex;
    padding-bottom: 20vh;
}

.sideText {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    max-height: 70vh;
}

.dividerDetails {
    flex: 1;
    max-height: 60vh;
}

/* Text
h1 {
    font-size: 2.5vw;
}
p {
    font-size: 1.7vw;
} */

#dropdownMenuButton {
    color: #000000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
}

/* Breadcrumbs */
.breadCrumbs {
    width: 100%;
    padding-bottom: 20vh;
}
.prevBreadCrumb {
    position: absolute;
    right: 5vw;
}
.breadCrumbButton {
    font-size: 1.5vw;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    #stage3Container {
        flex-direction: column;
    }

    .sideText {
        flex: 1;
        padding-left: 2vw;
        padding-right: 2vw;
        width: 100vw;
    }
    
    .sideText > h1 {
        font-size: 9vw;
    }

    #dropdownMenuButton {
        font-size: 3.5vw;
    }

    .unitButtons {
        width: 96vw;
    }

    .unitButton {
        width: 45.5vw;
        font-size: 3vw;
    }

    #inchesButton {
        margin-right: 5vw;
    }
    .headerTitle {
        text-align: center;
    }
    
}

@media only screen and (min-width: 576.1px) {
    .notOnLaptop {
        display: none;
    }

    #stage3Container {padding-top: 5px;}

    .unitButton {
        width: 15vw;
        margin-right: 5vw;
    }

    h1 {
        font-size: 2.2vw;
    }
    
}



