#stage1Con {
    padding-bottom:20vh;
    padding-top: 2vh;
    background-color: transparent;
    overflow-y: auto;
    display: flex;
}

#header_title {
    width: 100%;
    /* background-color: #ffffff; */
    text-align: left;
}
#side_text {
    /* background-color: #ffffff; */
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 12%;
    text-align: left;
}

#news_text {
    /* background-color: #ffffff; */
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-right: 12%;
    text-align: left;
}

#sideTextContainer {
    flex:1;
    padding-left: 2vw;
    padding-right: 2vw;
    /* max-width: 40vw; */
}

.carousel_div { 
    flex:1;
    padding-right: 1vw;
    padding-left: 1vw;
    /* border: thick double black; */
}

.btn {
    margin-left: 1vw;
    flex:1;
}

.text-center {
    display: flex;
}

@media only screen and (max-width: 576px) {
    .HideOnMobile {
        width: 100%;
    }
    #stage1Con {
        flex-direction: column;
    }

    #sideTextContainer > #header_title {
        text-align: center;
    }
    

    #sideTextContainer > #side_text {
        text-align: center;
        font-size: 20px;
        padding-left: 12%;
    }

    #sideTextContainer {
        /* background-image: url("../../../assets/img/galleryPhotos/galleryPhoto2.jpeg"); */
        background-repeat: no-repeat;
        background-size: cover;
    }

    #stage1Con {
        padding-top: 0;
    }

    #header_title > h1 > b  {
        font-size: 30px;
        /* color: antiquewhite; */
    }

    #side_text > span > p{
        font-size: 15px;
        color: black;
        font-family: "Inter Tight", sans-serif;
        font-weight: bold;
    }
    
    .text-center {
        display: block;
    }
    #let-start {
        display: none;
    }
}
