#stage1Con {
    padding-bottom:20vh;
    padding-top: 2vh;
    background-color: transparent;
    overflow-y: auto;
    display: flex;
}

#header_title {
    width: 100%;
    /* background-color: #ffffff; */
    text-align: left;
}
#side_text {
    /* background-color: #ffffff; */
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
    padding-right: 12%;
    text-align: left;
}

#sideTextContainer {
    flex:1;
    padding-left: 2vw;
    padding-right: 2vw;
    /* max-width: 40vw; */
}
.carousel_div { 
    flex:2;
    padding-right: 1vw;
    padding-left: 1vw;
    /* border: thick double black; */
}
.carousel-inner {
    margin: auto;
    width: 80%;
}
.carousel-item {
    padding-top: 4vh;
    padding-bottom: 2vh;
    height: 76vh;
    object-fit: contain;
}
.carousel { 
    height: 82vh;
    max-width: 60vw;
    border-radius: 2%;
}



/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

img {
    height: 72vh;
    object-fit: contain;
}

.btn {
    margin-left: 1vw;
    flex:1;
}

.text-center {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .HideOnMobile {
        width: 100%;
    }
    #stage1Con {
        flex-direction: column;
    }

    #carouselExampleControls {
        height: 76vh;
        max-width: 100%;
    }

    #slide-img {
        height: 62vh
    }

    #sideTextContainer > #header_title {
        text-align: center;
    }

    #sideTextContainer > #side_text {
        text-align: center;
        font-size: 20px;
        padding-left: 12%;
    }

    #sideTextContainer {
        background-image: url("../../../assets/img/galleryPhotos/galleryPhoto2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #stage1Con {
        padding-top: 0;
    }

    #header_title > h1 > b  {
        font-size: 30px;
        color: antiquewhite;
    }

    #side_text > span > p{
        margin-bottom: auto;
        font-size: 15px;
        color: black;
        font-family: emoji;
        font-weight: bold;
    }
    
    .text-center {
        display: block;
        padding-bottom: 100px;
    }
    #let-start {
        display: none;
    }
}