<div id="stage1Con">
    <div id="sideTextContainer">
      <div *ngFor="let post of this.posts" id="header_title">
        <h1><b>{{ post.fields.stage1header }}</b></h1>
      </div>
      <div *ngFor="let post of this.posts" id = "side_text">
          <span [innerHTML]="this.contentfulService.markdownToHtml(post.fields.stage1body)"></span>
      </div>
      <div class="text-center">
        <br/> <br/>
        <a href="javascript:void(0)" routerLink="/about" (click)="learnMore()"> <input type="button" class="btn btn-light btn-lg" value="Learn More"/> </a>
        <a id="let-start" href="javascript:void(0)" (click)="nextstage2()"> <input type="button" class="btn btn-dark btn-lg" value="Let's Start!"/> </a>
      </div>
    </div>

    <!-- <div class="invisible">
      <ol>
        <li #carousel data-target="#carouselExampleControls" data-slide="next"></li>
      </ol>
   </div> -->
    <app-carousel [startNumber]="0" class="carousel_div"></app-carousel>

    

    
</div>
