/* You can add global styles to this file, and also import other style files */

h1 {
    color: #000000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 2.2vw;
}

p, li {
    color: #000000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
}

.light > p {
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

.backArrowIcon:hover .backArrowInner {
    fill: lightgray;
}
.backArrowInner {
    fill: white;
}

html, body {
    overscroll-behavior-x: none;
}

.lp3text > p {
    text-align: center;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
}

.lp3bodyText > p {
    text-align: center;
    color: white;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
}

@media (max-width: 575.98px) {
    .HideOnMobile {
        display: initial;
    }

    .ShowOnMobile {
        display: initial;
    }

    p, li {font-size: 5vw;}

    .lp3text > p {font-size: 12vw;}

    .lp3bodyText > p {font-size: 8vw;}

    .light > p {font-size: 5vw;}
}

@media (min-width: 576px) {
    .HideOnMobile {
        display: initial;
    }

    .ShowOnMobile {
        display: none;
    }

    .lp3text > p {font-size: 4vw;}

    .lp3bodyText > p {font-size: 3.2vw;}

    p, li {font-size: 1.4vw;}

    .light > p {font-size: 1.4vw;}

}
