/* You can add global styles to this file, and also import other style files */

h1 {
    color: #000000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
}

p, li {
    color: #000000;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    font-size: 1.4vw;
}

.backArrowIcon:hover .backArrowInner {
    fill: lightgray;
}
.backArrowInner {
    fill: white;
}

html, body {
    overscroll-behavior-x: none;
}

@media (max-width: 575.98px) {
    .HideOnMobile {
        display: initial;
    }

    .ShowOnMobile {
        display: initial;
    }

    p, li {
        color: #000000;
        font-size: 3vw;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 300;
    }
}

@media (min-width: 576px) {
    .HideOnMobile {
        display: initial;
    }

    .ShowOnMobile {
        display: none;
    }
}
