<!-- bootstrap css -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- main app container -->
<div class="container" style="width: 500px; height: max-content;">
    <div class="container mt-3 mb-3">
        <div class="row mb-5" style="text-align: center;">
            <div style="font-size: x-large;">Reset account password</div>
            <div><span>Enter a new password</span></div>
        </div>
        <div class="row pb-3">
            <div class="md-3">
                <form [formGroup]="resetForm">
                    <div class="form-group mt-2 mb-2">                     
                        <div class="input-group flex-nowrap">
                            <input [(ngModel)]="newPw" [type]="pass" formControlName="newPass" class="form-control" placeholder="New password" />
                            <button class="btn btn-outline-secondary" (click)="showNewPass()">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="!isShow"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isShow"></i>
                            </button>
                        </div>
                        <div style="color: red;" *ngIf="newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)">
                            <span *ngIf="newPassword?.errors?.['required']">*Password is required</span>
                            <span *ngIf="newPassword?.errors?.['minlength'] || newPassword?.errors?.['maxlength']">
                                Password must from 8 to 24 characters
                            </span>
                        </div>
                    </div>
                    <div class="form-group mt-2 mb-2">                       
                        <div class="input-group flex-nowrap">
                            <input [(ngModel)]="confirmPw" [type]="cpass" formControlName="confirmPass" class="form-control" placeholder="Confirm password"/>
                            <button class="btn btn-outline-secondary" (click)="showConfirmPass()">
                                <i class="fa fa-eye" aria-hidden="true" *ngIf="!isCshow"></i>
                                <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isCshow"></i>
                            </button>
                        </div>
                        <div style="color: red;" *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)">
                            <span *ngIf="confirmPassword?.errors?.['required']">*Confirm password is required</span>
                            <!-- <span style="color: red;" *ngIf="resetForm?.errors?.['invalid']">*Password doesn't match</span> -->
                        </div>
                        <span style="color: red;"  *ngIf="resetForm?.errors?.['invalid']">Password doesn't match</span>
                    </div>
                    <div class="form-group mb-2 mt-4">
                        <button [disabled]="resetForm.invalid" (click)="onSubmit()" class="btn btn-success">Reset password</button>
                        <button (click)="onCancel()" class="btn btn-secondary" style="float: right;">Cancel</button>
                    </div>
                 
                </form>
            </div>
        </div>
    </div>
</div>
