#dividerWindow {
    margin-left:auto;
    margin-right:auto;
    width:40vw;
    max-height: 70vh;
    /* border:3px solid black; */
}

#windowPerimeter {
    width:100%;
}

#dividerTemplate {
    margin:auto;
    width:100%;
    height: 80vh;
    overflow: hidden;
}

#dividerPaneFormContainer {
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    max-height: 20vh;
}

.form-control, .formLabel {
    font-size: 1.5vw;
}