<app-landing-page [attr.style]="this.getStageVisibility('landingPage')"></app-landing-page>
<div id="savedOrderLandingPage" *ngIf="this.sharedDataService.continueSavedOrder">
    <h3>You are in edit mode for a saved order. Refresh the page to start something new.</h3>
</div>
<!-- <app-stage1 id="stage1" class="notOnLaptop"></app-stage1> -->
<app-stage2 id="stage2" class="notOnMobile" style="visibility: hidden; display: none;"></app-stage2>
<app-stage3 id="stage3" class="notOnMobile" style="visibility: hidden; display: none;"></app-stage3>
<app-template-category-stage id="templateCategoryStage" style="visibility: hidden; display: none;"></app-template-category-stage>
<app-stage4 id="stage4" class="notOnMobile" [attr.style]="this.getStageVisibility('stage4')"></app-stage4>
<app-stage5 id="stage5" class="notOnMobile" [attr.style]="this.getStageVisibility('stage5')"></app-stage5>
<app-checkout-page id="checkoutStage" class="notOnMobile" [attr.style]="this.getStageVisibility('checkout')"></app-checkout-page>
