<!-- <form id="dimensionsFormContainer">
    <label for="widthInput">Width:</label>
    <input type="number" id="widthInput" placeholder="mm"/>
    <br/>
    <label for="heightInput">Height:</label>
    <input type="number" id="heightInput" placeholder="mm"/> 
    <input type="button" id="submitInput" (click)="updateDimensions()" value="Change Dimensions"/>
</form>
 -->
<form id="dimensionsFormContainer">
    <div class="form-group form-row">
        <!-- <div class="col">
            <label class="formLabel" for="widthInput">Width:</label>
            <input type="number" min="0" class="form-control" id="widthInput" placeholder="{{unitChoice}}"/>
        </div> 
        <div class="col">
            <label class="formLabel" for="heightInput">Height:</label>
            <input type="number" min="0" class="form-control" id="heightInput" placeholder="{{unitChoice}}"/><span style="margin-left:10px;">lb</span>
        </div> -->

        <!-- width input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Width:</span>
            </div>
            <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="widthInput" placeholder=0/>
            <div class="input-group-append">
              <span class="input-group-text textarea-addon" id="widthUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        <!-- height input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Height:</span>
            </div>
            <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="heightInput" placeholder=0/>
            <div class="input-group-append">
              <span class="input-group-text textarea-addon" id="heightUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        
    </div>
    <p id="dividerDetailsText">Now, tell us the number of window dividers and their width.</p>
    <div id="dividerDetailInputs">
        <div class="form-group form-row">
            <!-- <div class="col">
                <label class="formLabel" for="horizontalDividersInput">Horizontal Dividers:</label>
                <input type="number" min="0" class="form-control" id="horizontalDividersInput" disabled="true" placeholder="0"/>
            </div>
            <div class="col">
                <label class="formLabel" for="verticalDividersInput">Vertical Dividers:</label>
                <input type="number" min="0" class="form-control" id="verticalDividersInput" disabled="true" placeholder="0"/>
            </div> -->
            <!-- horizontal dividers input -->
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">Horizontal:</span>
                </div>
                <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="horizontalDividersInput" disabled="true" placeholder="0"/>
            </div>
            <!-- vertical dividers input -->
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">Vertical:</span>
                </div>
                <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="verticalDividersInput" disabled="true" placeholder="0"/>
            </div>
        </div>
        <div class="form-group form-row">
            <!-- <label class="formLabel" for="dividerWidthInput">Divider Width:</label>
            <input type="number" min="0" class="form-control" id="dividerWidthInput" placeholder="{{unitChoice}}"/> -->
            <!-- vertical dividers input -->
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">Divider Width:</span>
                </div>
                <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="dividerWidthInput" placeholder="0"/>
                <div class="input-group-append">
                    <span class="input-group-text textarea-addon" id="dividerWidthUnits" [textContent]="unitText()"></span>
                  </div>
            </div>
        </div>
    </div>

    <input type="button" [style]="'display: ' + (isDoubleHung() ? 'inline' : 'none') + ';'" class="btn btn-dark btn-med" id="sashSelectionButton" (click)="switchSash()" value="{{sashButtonText()}}"/>
    <input type="button" class="btn btn-dark btn-med" id="submitInput" (click)="nextstage()" value="Next"/>
</form>