<!-- <form id="dimensionsFormContainer">
    <label for="widthInput">Width:</label>
    <input type="number" id="widthInput" placeholder="mm"/>
    <br/>
    <label for="heightInput">Height:</label>
    <input type="number" id="heightInput" placeholder="mm"/> 
    <input type="button" id="submitInput" (click)="updateDimensions()" value="Change Dimensions"/>
</form>
 -->

<!-- Modal for measurement info -->
<div class="modal" id="dimensionsFormModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Window Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="this.isAvailableTemplate()" class="modal-body">
                <h3>Make sure these dimensions are correct. Any changes to the dimensions after this step can result in lost progress.</h3>
                <p [textContent]="getWindowWidth()"></p>
                <p [textContent]="getWindowHeight()"></p>
                <p *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneWidth()"></p>
                <p *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneHeight()"></p>
                <hr *ngIf="this.isDoubleHung()" />
                <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashWidth()"></p>
                <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashHeight()"></p>
                <p *ngIf="this.isDoubleHung() && this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneWidth(false)"></p>
                <p *ngIf="this.isDoubleHung() && this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneHeight(false)"></p>
            </div>
            <div *ngIf="!this.isAvailableTemplate()" class="modal-body">
                <p>We currently offer no templates for the given window.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Back to Your Window</button>
                <button *ngIf="this.isAvailableTemplate()" id="nextStepModal" type="button" (click)="nextstage()" class="btn btn-dark">Next Step</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<form id="dimensionsFormContainer">
    <div class="form-group form-row">
        <!-- <div class="col">
            <label class="formLabel" for="widthInput">Width:</label>
            <input type="number" min="0" class="form-control" id="widthInput" placeholder="{{unitChoice}}"/>
        </div> 
        <div class="col">
            <label class="formLabel" for="heightInput">Height:</label>
            <input type="number" min="0" class="form-control" id="heightInput" placeholder="{{unitChoice}}"/><span style="margin-left:10px;">lb</span>
        </div> -->

        <!-- width input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Width:</span>
            </div>
            <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="widthInput" placeholder=0/>
            <div class="input-group-append">
                <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sup>0</sup>&frasl;<sub>16</sub>"</button>
                <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                    <a *ngFor="let num of range(16)" class="dropdown-item" href="javascript:void(0)"><sup>{{num}}</sup>&frasl;<sub>16</sub>"</a>
                </div>
              <span *ngIf="this.sharedDataService.unitChoice != 'inches'" class="input-group-text textarea-addon" id="widthUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        <!-- height input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Height:</span>
            </div>
            <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="heightInput" placeholder=0/>
            <div class="input-group-append">
                <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">0/16</button>
                <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                    <a class="dropdown-item" href="#">1/16</a>
                    <a class="dropdown-item" href="#">2/16</a>
                    <a class="dropdown-item" href="#">3/16</a>
                </div>
              <span *ngIf="this.sharedDataService.unitChoice != 'inches'"  class="input-group-text textarea-addon" id="heightUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        
    </div>
    <p *ngIf="!this.isDoubleHung() || this.sharedDataService.topSash" id="dividerDetailsText" [textContent]="this.sharedDataService.selectedDividerType == 'nodiv' ? '' : 'Now, tell us the number of window dividers and their width.'"></p>
    <div id="dividerDetailInputs">
        <div class="form-group form-row">
            <!-- <div class="col">
                <label class="formLabel" for="horizontalDividersInput">Horizontal Dividers:</label>
                <input type="number" min="0" class="form-control" id="horizontalDividersInput" disabled="true" placeholder="0"/>
            </div>
            <div class="col">
                <label class="formLabel" for="verticalDividersInput">Vertical Dividers:</label>
                <input type="number" min="0" class="form-control" id="verticalDividersInput" disabled="true" placeholder="0"/>
            </div> -->
            <!-- horizontal dividers input -->
            <div class="col input-group mb-3" *ngIf="!this.isDoubleHung() || this.sharedDataService.topSash">
                <div class="input-group-prepend">
                <span class="input-group-text">Horizontal:</span>
                </div>
                <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="horizontalDividersInput" placeholder="0" [value]="this.sharedDataService.dividerNumbers[0]"/>
            </div>
            <!-- vertical dividers input -->
            <div class="col input-group mb-3" *ngIf="!this.isDoubleHung() || this.sharedDataService.topSash">
                <div class="input-group-prepend">
                <span class="input-group-text">Vertical:</span>
                </div>
                <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="verticalDividersInput" placeholder="0" [value]="this.sharedDataService.dividerNumbers[1]"/>
            </div>
        </div>
        <div class="form-group form-row" *ngIf="!this.isDoubleHung() || this.sharedDataService.topSash">
            <!-- <label class="formLabel" for="dividerWidthInput">Divider Width:</label>
            <input type="number" min="0" class="form-control" id="dividerWidthInput" placeholder="{{unitChoice}}"/> -->
            <!-- vertical dividers input -->
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">Divider Width:</span>
                </div>
                <input (change)="updateDimensionsButton()" type="number" min="0" class="form-control" id="dividerWidthInput" placeholder="0" [value]="this.convertBackNumber(this.sharedDataService.dividerWidth, this.sharedDataService.unitChoice)"/>
                <div class="input-group-append">
                    <span class="input-group-text textarea-addon" id="dividerWidthUnits" [textContent]="unitText()"></span>
                  </div>
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-light btn-med" id="backInput" (click)="previousStage()" value="Back"/>
    <input type="button" [style]="'display: ' + (isDoubleHung() ? 'inline' : 'none') + ';'" class="btn btn-dark btn-med" id="sashSelectionButton" (click)="switchSash()" value="{{sashButtonText()}}"/>
    <input type="button" class="btn btn-dark btn-med" id="submitInput" (click)="updateDimensionsButton(); updatePanelLayout()" value="Next" data-toggle="modal" data-target="#dimensionsFormModal"/>
    
</form>