.form-control, .formLabel {
    font-size: 1.5vw;
}
.form-control {
    min-width: 5vw;
}

#dimensionsFormContainer {
    max-height: 100%;
}

.dimensionsSubmitButton {
    background-color: #F0E3E0;
    color: black;
    border-radius: 10px;
    width: fit-content;
}


/* select { text-align-last: right; }
option { direction: rtl; } */
.fractionDropdown {
    overflow-y: scroll;
    height: 40vh;
}
/* p {
    font-size: 1.7vw;
} */

.input-group-text {
    padding-left: .1rem;
    padding-right: .1rem;
}

.btn {
    margin-right: 1vw;
}
.textarea-addon {
    background-color: white;
}

/* #widthInput, #heightInput {
    width: 6vw;
} */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    .form-control, .formLabel {
        font-size: max(3.5vw, 16px);
    }
    .form-control {
        min-width: 12vw;
    }
    .input-group-text, .dropdown-toggle {
        font-size: 3vw;
    }

    .input-group-prepend, .input-group-text {
        width: fit-content;
    }
    
}

@media only screen and (min-width: 576.1px) {
    /* #dimensionsFormContainer {
        width: 50vw;
    } */
    
}