.form-control, .formLabel {
    font-size: 1.5vw;
}

#dimensionsFormContainer {
    max-height: 100%;
    width:45vw;
}

.fractionDropdown {
    overflow-y: scroll;
    height: 40vh;
}
/* p {
    font-size: 1.7vw;
} */

.btn {
    margin-right: 1vw;
}
.textarea-addon {
    background-color: white;
}

#widthInput, #heightInput {
    width:4vw;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}