<!-- <form id="dimensionsFormContainer">
    <label for="widthInput">Width:</label>
    <input type="number" id="widthInput" placeholder="mm"/>
    <br/>
    <label for="heightInput">Height:</label>
    <input type="number" id="heightInput" placeholder="mm"/> 
    <input type="button" id="submitInput" (click)="updateDimensions()" value="Change Dimensions"/>
</form>
 -->

<!-- Modal for measurement info -->
<div class="modal" id="dimensionsFormModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Window Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="this.isAvailableTemplate()" class="modal-body">
                <h3>Make sure these dimensions are correct. Any changes to the dimensions after this step can result in lost progress.</h3>
                <p [textContent]="getWindowWidth()"></p>
                <p [textContent]="getWindowHeight()"></p>
                <p *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneWidth()"></p>
                <p *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneHeight()"></p>
                <hr *ngIf="this.isDoubleHung()" />
                <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashWidth()"></p>
                <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashHeight()"></p>
                <p *ngIf="this.isDoubleHung() && this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneWidth(false)"></p>
                <p *ngIf="this.isDoubleHung() && this.sharedDataService.selectedDividerType != 'nodiv'" [textContent]="getWindowPaneHeight(false)"></p>
            </div>
            <div *ngIf="!this.isAvailableTemplate()" class="modal-body">
                <p>We currently offer no templates for the given window.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Back to Your Window</button>
                <button *ngIf="this.isAvailableTemplate()" id="nextStepModal" type="button" (click)="nextstage()" class="btn btn-dark">Next Step</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>
<form id="dimensionsFormContainer">
    <h5 [style]="'display: ' + ((!isDoubleHung() || isLaptop())  ? 'none' : 'inline') + ';'">Top Window</h5>
    <div class="form-group form-row">
        <!-- width input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Width:</span>
            </div>
            <input (change)="updateDimensionsButton(); changeElementFocus('heightInput'); updatePanelLayout()" type="number" min="0" class="form-control" id="widthInput" placeholder=""/>
            <div class="input-group-append">
                <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sup>{{this.sharedDataService.topSash ? this.sharedDataService.windowWidthFractionNum : this.sharedDataService.bottomSashWidthFractionNum}}</sup>&frasl;<sub>16</sub>"</button>
                <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                    <a *ngFor="let num of range(16)" (click)="this.updateWidthFraction(num)" class="dropdown-item" href="javascript:void(0)"><sup>{{num}}</sup>&frasl;<sub>16</sub>"</a>
                </div>
              <span *ngIf="this.sharedDataService.unitChoice != 'inches'" class="input-group-text textarea-addon" id="widthUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        <!-- height input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Height:</span>
            </div>
            <input (change)="updateDimensionsButton(); changeElementFocus('horizontalDividersInput'); updatePanelLayout()" type="number" min="0" class="form-control" id="heightInput" placeholder=""/>
            <div class="input-group-append">
                <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sup>{{this.sharedDataService.topSash ? this.sharedDataService.windowHeightFractionNum : this.sharedDataService.bottomSashHeightFractionNum}}</sup>&frasl;<sub>16</sub>"</button>
                <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                    <a *ngFor="let num of range(16)" (click)="this.updateHeightFraction(num)" class="dropdown-item" href="javascript:void(0)"><sup>{{num}}</sup>&frasl;<sub>16</sub>"</a>
                </div>
              <span *ngIf="this.sharedDataService.unitChoice != 'inches'"  class="input-group-text textarea-addon" id="heightUnits" [textContent]="unitText()"></span>
            </div>
        </div>
    </div>

    <div *ngFor="let post of this.stage3Posts" id="dividerDetailsText">
        <span *ngIf="!this.isDoubleHung() || this.sharedDataService.topSash" [innerHtml]="this.sharedDataService.selectedDividerType == 'nodiv' ? '' : this.contentfulService.markdownToHtml(post.fields.stage3hiddenBody)"></span>
    </div>

    <div id="dividerDetailInputs">
        <div class="form-group form-row">
            <!-- horizontal dividers input -->
            <div class="col input-group mb-3" *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'">
                <div class="input-group-prepend">
                <span class="input-group-text">Horizontal:</span>
                </div>
                <input (change)="updateDimensionsButton(); changeElementFocus('verticalDividersInput'); updatePanelLayout()" type="number" min="0" class="form-control" id="horizontalDividersInput" placeholder="" [value]="this.sharedDataService.dividerNumbers[0]"/>
            </div>
            <!-- vertical dividers input -->
            <div class="col input-group mb-3" *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'">
                <div class="input-group-prepend">
                <span class="input-group-text">Vertical:</span>
                </div>
                <input (change)="updateDimensionsButton(); changeElementFocus('dividerWidthInput'); updatePanelLayout()" type="number" min="0" class="form-control" id="verticalDividersInput" placeholder="" [value]="this.sharedDataService.dividerNumbers[1]"/>
            </div>
        </div>
        <div class="form-group form-row" *ngIf="this.sharedDataService.selectedDividerType != 'nodiv'">
            <!-- <label class="formLabel" for="dividerWidthInput">Divider Width:</label>
            <input type="number" min="0" class="form-control" id="dividerWidthInput" placeholder="{{unitChoice}}"/> -->
            <!-- vertical dividers input -->
            <div class="col input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text">Divider Width:</span>
                </div>
                <input (change)="updateDimensionsButton(); updatePanelLayout()" type="number" min="0" class="form-control" id="dividerWidthInput" placeholder="0" [value]="this.getDividerWidthValue()"/>
                <div class="input-group-append">
                    <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sup>{{this.sharedDataService.dividerWidthFractionNum}}</sup>&frasl;<sub>16</sub>"</button>
                    <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                        <a *ngFor="let num of range(16)" (click)="this.updateDividerWidthFraction(num); updateDimensionsButton();" class="dropdown-item" href="javascript:void(0)"><sup>{{num}}</sup>&frasl;<sub>16</sub>"</a>
                    </div>
                    <span *ngIf="this.sharedDataService.unitChoice != 'inches'" class="input-group-text textarea-addon" id="widthUnits" [textContent]="unitText()"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Below is only available to mobile users with a double hung -->
    <h5 [style]="'display: ' + ((!isDoubleHung() || isLaptop())  ? 'none' : 'inline') + ';'">Bottom Window <p>*usually they are slightly different</p></h5>
    <div [style]="((!isDoubleHung() || isLaptop())  ? 'display:none;' : '')"class="form-group form-row">
        <!-- <div class="col">
            <label class="formLabel" for="widthInput">Width:</label>
            <input type="number" min="0" class="form-control" id="widthInput" placeholder="{{unitChoice}}"/>
        </div> 
        <div class="col">
            <label class="formLabel" for="heightInput">Height:</label>
            <input type="number" min="0" class="form-control" id="heightInput" placeholder="{{unitChoice}}"/><span style="margin-left:10px;">lb</span>
        </div> -->

        <!-- width input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Width:</span>
            </div>
            <input (change)="updateDimensionsButton(); changeElementFocus('bottomHeightInput')" type="number" min="0" class="form-control" id="bottomWidthInput" placeholder=""/>
            <div class="input-group-append">
                <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sup>{{this.sharedDataService.topSash ? this.sharedDataService.windowWidthFractionNum : this.sharedDataService.bottomSashWidthFractionNum}}</sup>&frasl;<sub>16</sub>"</button>
                <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                    <a *ngFor="let num of range(16)" (click)="this.updateWidthFraction(num)" class="dropdown-item" href="javascript:void(0)"><sup>{{num}}</sup>&frasl;<sub>16</sub>"</a>
                </div>
              <span *ngIf="this.sharedDataService.unitChoice != 'inches'" class="input-group-text textarea-addon" id="widthUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        <!-- height input -->
        <div class="col input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Height:</span>
            </div>
            <input (change)="updateDimensionsButton();" type="number" min="0" class="form-control" id="bottomHeightInput" placeholder=""/>
            <div class="input-group-append">
                <button *ngIf="this.sharedDataService.unitChoice == 'inches'" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><sup>{{this.sharedDataService.topSash ? this.sharedDataService.windowHeightFractionNum : this.sharedDataService.bottomSashHeightFractionNum}}</sup>&frasl;<sub>16</sub>"</button>
                <div *ngIf="this.sharedDataService.unitChoice == 'inches'" class="dropdown-menu fractionDropdown">
                    <a *ngFor="let num of range(16)" (click)="this.updateHeightFraction(num)" class="dropdown-item" href="javascript:void(0)"><sup>{{num}}</sup>&frasl;<sub>16</sub>"</a>
                </div>
              <span *ngIf="this.sharedDataService.unitChoice != 'inches'"  class="input-group-text textarea-addon" id="heightUnits" [textContent]="unitText()"></span>
            </div>
        </div>
        
    </div>

    <!-- <input type="button" class="btn btn-light btn-med" id="backInput" (click)="previousStage()" value="Back"/> -->
    <input type="button" [style]="'display: ' + ((isDoubleHung() && isLaptop())  ? 'inline' : 'none') + ';'" class="btn btn-dark btn-med notOnMobile" id="sashSelectionButton" (click)="switchSash()" value="{{sashButtonText()}}"/>
    <!-- <input type="button" class="btn btn-dark btn-med notOnMobile" id="submitInput" (click)="updateDimensionsButton(); updatePanelLayout()" value="Next" data-toggle="modal" data-target="#dimensionsFormModal"/> -->
    
</form>