.form-control, .formLabel {
    font-size: 1.5vw;
}

#dimensionsFormContainer {
    max-height: 100%;
}

p {
    font-size: 1.7vw;
}

.btn {
    margin-right: 1vw;
}
.textarea-addon {
    background-color: white;
}