<div id="tutorialsPageContainer">
    <h1 id="tutorialTitle">Tutorials</h1>
    <a href="javascript:void(0)" (click)="goTdiInfo()" class="btn btn-dark">TDI Tutorial</a>
    <a href="javascript:void(0)" (click)="goMeasurementInfo()" class="btn btn-dark">Measurement Tutorial</a>
    <a href="javascript:void(0)" (click)="goInstallationInfo()" class="btn btn-dark">Installation Instructions</a>
    <!-- <a href="https://www.kickstarter.com/projects/38351242/582738137?ref=svhya6&token=12628802" target="_blank" class="btn btn-dark">Kickstarter</a> -->

    <h3 id="tdiInfo">{{this.posts[0].fields.tutorialHeader}}</h3>
    <span [innerHTML]="this.fixMailLink(this.contentfulService.markdownToHtml(this.posts[0].fields.tutorialBody))"></span>
    <br/>
    <br/>
    <br/>

    <h3 id="measurementInfo">{{this.posts[1].fields.tutorialHeader}}</h3>
    <span [innerHTML]="this.fixNewPageLink(this.contentfulService.markdownToHtml(this.posts[1].fields.tutorialBody))"></span>
    <br/>
    <br/>
    <br/>

    <h3 id="installationInfo">{{this.posts[2].fields.tutorialHeader}}</h3>
    <span [innerHTML]="this.fixNewPageLink(this.contentfulService.markdownToHtml(this.posts[2].fields.tutorialBody))"></span>
</div>