#tutorialsPageContainer {
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.btn {
    margin-right: 2vw;
    margin-bottom: 5vh;
}

#tdiInfo, #measurementInfo, #installationInfo {
    padding-top: 80px;
}

@media only screen and (max-width: 576px) {
    #tutorialsPageContainer > p {
        font-size: 16px;
    }

    #tutorialsPageContainer > ul > li > p {
        font-size: 16px;
    }

    #tutorialsPageContainer > ol > li > p {
        font-size: 16px;
    }
}