<div id="tutorialsPageContainer">
    <h1 id="tutorialTitle">Tutorials</h1>
    <a href="javascript:void(0)" (click)="goTdiInfo()" class="btn btn-dark">TDI Tutorial</a>
    <a href="javascript:void(0)" (click)="goMeasurementInfo()" class="btn btn-dark">Measurement Tutorial</a>
    <a href="javascript:void(0)" (click)="goInstallationInfo()" class="btn btn-dark">Installation Instructions</a>
    <!-- <a href="https://www.kickstarter.com/projects/38351242/582738137?ref=svhya6&token=12628802" target="_blank" class="btn btn-dark">Kickstarter</a> -->

    <h3 id="tdiInfo">The Design Interface (TDI)</h3>
    <p>
        The design team at LightScreen.art have produced a large collection of templates representing a 
        number of genres and supporting a number of window dimensions. Many users will find a template that's 
        perfect for their custom lightscreen in Step Three, the section entitled “Choose Your Design”.
    </p>
    <p>
        Our designers build these templates from our collection of panels and size them to fit with most 
        popular window dimensions. But with more than a hundred panels and with a large range of window 
        dimensions, the number of potential templates is nearly limitless and it's impossible to anticipate 
        every possible combination. To address this, LightScreen.art has created the Template Design 
        Interface (TDI or “Teddy”) and has made it available to all registered users. With our TDI, 
        discriminating users can use the same tool as our designers to create a template from our panel 
        collection that will fit both your window and your style. This tutorial will outline how to use TDI.
    </p>
    <p>
        To access TDI user's must first register by selecting Signup from our main menu at the upper right of 
        our website and must be logged in. To start TDI, select Contact from the menu bar and click on it in 
        the footer at the bottom of the page. This will display the full interface which consists of three 
        main sections: Panel Insertion, Autofill and Panel Information and Template Layout Interface. The 
        first two sections are intended for panel loading and coding into our system and are available only 
        to panel, not template, designers. If you'd like to know more about becoming a panel designer, contact 
        us at <a href="mailto: info@lightscreen.art">info@lightscreen.art</a>.
    </p>
    <p>
        To create your custom template you'll be using only the Template Layout Interface section. Under 
        that headline and under the subhead "Choose a template and enter your template's panel layout 
        (e.g. 2x4)” you'll find a horizontal box containing a number of panels from left to right, each with 
        a number at the bottom left of the panel. These panels represent the underlying panelset, i.e. a 
        collection of panels that are all similar in nature and designed to be used together in a template. 
        Using the scroller at the bottom of the box you'll see our full collection of panels that represent 
        our full collection of panelsets. Clicking on any one of the panels in the box will open up another 
        box below it. In that box you'll see the panel you just clicked on as well as all other panels in 
        that set— you may have to use the scrollbar to view the entire panel set. For example, when clicking 
        on panel two in the upper box you'll see four panels in the lower box. When clicking on panel 
        twenty-three, you'll see five and a half panels and when you scroll to the right you'll see at least 
        fifteen more. These are the panels you'll have to choose from as you build your template.
    </p>
    <p>
        Below the panel boxes, you'll see two more boxes, one entitled “Left to Right” and one entitled 
        “Top to Bottom”. In the first box you'll enter the number of horizontal panels and in the second 
        the number of vertical panels. The number of panels you'll enter in these boxes is dependent upon 
        the dimensions you entered in Step Two. You can determine the number of panels required for your 
        window by viewing the templates that appear in Step Three after you've completed Step Two. For 
        example, if you enter 24 inches (600 mm) wide by 24 inches high in Step Two, you'll see displayed 
        templates that are two panels across and two panels down in Step Three. In this example, you'd then 
        enter 2 in the “Left to Right” box and 2 in the “Top to Bottom” box. Once you've entered these 
        values, click on the “Update dims (2x6)” button directly below. You should now see text on the right 
        of the upper panel box reading "Current Layout: (your number)x(your number) Current Panel Location: 
        0,0”. This indicates that you're now ready to begin building your template.
    </p>
    <p>
        Templates are built across from the upper left corner. So click on the panel in the panel list that 
        you'd like to be in the upper left of your template. Click on the panel you'd like to be to the 
        immediate right of the first panel and continue doing so until you've reached the end of the first 
        row. Continuing with the above example, the second panel you click will be at the upper right, the 
        third at lower left and the fourth at lower right. Use the Undo button if you've made a mistake or 
        would like to explore multiple template designs. Note as well that you can manipulate the orientation 
        of panels: clicking the “Rotate Last Panel” button will rotate the panel in 90 degree increments 
        clockwise. Clicking the “Mirror Last Panel” button will flip the panel horizontally. These two 
        buttons may be used in tandem to achieve all possible panel orientations.
    </p>
    <p>
        <i><b>Pro Tip:</b> Although our design team has grouped panels that will work together well in a 
            template, it's possible to build your template from multiple panelsets. Clicking on any of the 
            numbered panels in the upper box will display the full panel set in the lower box. Just toggle 
            between multiple panelsets and select panels in the lower box to build your custom template.
        </i>
    </p>
    <p>
        When you're satisfied with your template, click the "Create Layout” button. A modal will pop up 
        and you'll be asked to confirm that you want to save your template. Click OK to save or cancel to 
        go back to your template. After clicking OK, another modal will display in a few moments reading 
        “LightScreen.art says” with a number below it. If the number is 1 you've successfully saved your 
        template, any number other than 1 indicates an error and you may then contact us for help. When the 
        template is saved you'll now be able to access it in Step Three as you would any standard template. 
        Note that the “Switch to Template Autofill” button is for features not yet supported and may be 
        ignored.
    </p>
    <br/>
    <br/>
    <br/>
    <h3 id="measurementInfo">Measuring</h3>
    <p>Here are some tips to ensure accurate measurements for your Lightscreen!</p>
    <ul>
        <li><p>
            Measurements taken should refer to the actual glass of your window (the part to be covered) and 
            should not include any part of the frame, sill, or encasement.
        </p></li>
        <li><p>
            Windows with dividers should be measured as one total window - just make sure to get an accurate 
            divider width.
        </p></li>
        <li><p>
            From your window dimensions, the number of dividers and the divider width, we'll compute the 
            dimensions of each panel to fit inside of the dividers. The computed panel dimensions will be 
            displayed at the confirmation step, we strongly suggest that you check our panel dimensions 
            against your actual measurements of the glass between your dividers and adjust your inputs if 
            necessary.
        </p></li>
        <li><p>
            Using a soft measuring tape like the type used for sewing can help you get a more precise 
            measurement. If you have a rigid tape measurer like the type used for carpentry, you can get 
            the most accurate measurement by bending the tape at a 90 degree angle and getting as close to 
            the edge of the glass as possible.
        </p></li>
        <li><p>
            If your measurements are more precise than a sixteenth of an inch or whole millimeters, round 
            down. You'll have to use decimals for fractional inches - a conversion chart can be found 
            <a href="https://www.engineeringtoolbox.com/inches-decimal-equivalents-d_471.html" target="_blank">here</a>
        </p></li>
        <li><p>
            For double hung windows, take measurements for each sash separately. Even if the frame is the 
            same width, there's a good chance the glass panes could vary.
        </p></li>
        <li><p>
            Finally, if you find yourself questioning the measurements taken, it doesn't hurt to start 
            from the beginning. Round your measurements down when there is uncertainty. We here at 
            LightScreen will produce your covering to the exact measurements you specify, and while there 
            are workarounds to a slightly small covering, one that is too large will be difficult if not 
            impossible to install.
        </p></li>
    </ul>
    <br/>
    <br/>
    <br/>
    <h3 id="installationInfo">Installation</h3>
    <p>
        Installing your lightscreen is easier than most other window coverings - there's no need for 
        permanent holes, screws, nails or messy water as with window film.
    </p>
    <ol>
        <li><p>
            Begin by unpacking all of your panels and laying them out in the order you designed. 
            Use this time to make sure everything looks right.
        </p></li>
        <li><p>
            Starting with a panel intended for one of the lower corners of your lightscreen, remove the 
            backing from the gel tape strips on the four corners of the panel. Removing this backing is 
            far easier when the right technique is employed. We've found the best way to do it is to use 
            a small sturdy pointed object such as a safety pin. First, press down on the tape tab backing 
            so that the gel tape bonds well with the plastic frame. Then insert the pin on one of the short 
            sides of the tape tab just underneath the backing and as close to the top of the gel tape as 
            possible. Insert the pointed object at least one third of the distance of the tape: it's OK if 
            the point pierces the backing. Then remove the backing by slowly prying up the pointed object. 
            As you do, the backing will separate enough from the gel tape that it may be pinched with your 
            fingers and pulled off. If the gel tape separates from the frame during this process simply 
            push it back down with your finger. The adhesive used is similar to the 
            <a href="https://en.wikipedia.org/wiki/Fugitive_glue" target="_blank">fugitive glue</a> often 
            used in direct mail. Unlike fugitive glue, our adhesive is resealable and may be touched with 
            bare skin without impacting its performance.
        </p></li>
        <li><p>
            Line up your panel with the corresponding corner of your window. Take your time and ensure this 
            panel is level and flush with the frame of your window, as any error at this step will accumulate 
            as more panels are added.
        </p></li>
        <li><p>
            Push firmly for 10 seconds while taking care to not break the window glass. If your 
            lightscreen panel shifts during this process, you may gently remove it and restart.
        </p></li>
        <li><p>
            Repeat this process with the next panel in the row, ensuring it is flush with both the frame 
            and adjacent panels.
        </p></li>
        <li><p>
            When starting a new row, make sure the corners of your panels line up square with those below 
            them. Avoid leaving gaps that are large enough to let in light!
        </p></li>
        <li><p>Repeat this process from bottom to top until your entire Lightscreen is installed.</p></li>
    </ol>
</div>