h1 {
    font-size: 8vw;
}


.colorIcons {
    height:20vw;
    width:20vw;
    margin-left: 2.5vw;
    border: .5px solid black;
}

.colorPalleteIcons {
    flex:2;
    height:12vw;
    width:12vw;
    margin-left: .5vw;
    margin-right: .5vw;
    border: .5px solid black;
}

#colorPickerContainer {
    display: flex;
    width: 100vw;
}

#colorOptionsContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 40vh;
    overflow-y: scroll;
    overscroll-behavior-y:contain;
}

.colorLabel {
    text-align: center;
    width: 20vw;
    margin-left: 2.5vw;
}
#colorPallete {
    flex: 3;
}

.palleteHeader {
    text-align: center;
}

#colorPalleteOfferings {
    margin-left: 3vw;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;  
    overflow-y: scroll;
    white-space: nowrap;
    height: 40vh;
    flex:1;
    /* flex-direction: column; */
    overscroll-behavior-x: contain;
}
