#formLoginContainer {
    display: flex;
}

.container {
    flex:1;
    padding-left: 6vw;
    padding-right: 2vw;
    padding-top: 2vh;
}

.carousel_div { 
    flex:2;
    padding-right: 1vw;
    padding-left: 1vw;
    /* border: thick double black; */
}
.carousel-inner {
    margin: auto;
    width: 80%;
}
.carousel-item {
    padding-top: 4vh;
    padding-bottom: 2vh;
    height: 76vh;
    object-fit:contain;
}
.carousel { 
    height: 82vh;
    max-width: 60vw;
    border-radius: 2%;
}

img {
    height: 72vh;
    object-fit: contain;
}

/* .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
} */

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}