<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="formLoginContainer" *ngIf="!this.sharedDataService.signedIn">
<!-- main app container -->
    <div class="container">
        <div class="container mt-3 mb-3">
            <div class="row" style="text-align: center;">
                <div style="font-size: x-large;">Welcome</div>
            </div>
            <div class="row pb-3">
                <div class="md-3">
                    <form [formGroup]="loginForm">
                        <div class="form-group mt-2 mb-2">
                            <label>Email</label>
                            <input type="text" formControlName="emailId" autocomplete="emailId" class="form-control" />
                            <div style="color: red;" *ngIf="emailid?.invalid && (emailid?.touched || emailid?.dirty)">
                                <span *ngIf="emailid?.errors?.['required']">*Email is required</span>
                                <span *ngIf="emailid?.errors?.['email']">*Enter valid email (example@gmail.com)</span>
                            </div>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label>Password</label>
                            <div class="input-group flex-nowrap">
                                <input [(ngModel)]="passW" [type]="pass" formControlName="password" class="form-control" />
                                <button class="btn btn-outline-secondary" (click)="onClickShowPass()">
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!isShow"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isShow"></i>
                                </button>
                            </div>
                            <div style="color: red;" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                                <span *ngIf="password?.errors?.['required']">*Password is required</span>
                            </div>
                        </div>
                        <div class="form-group form-check mb-2">
                            <label class="form-check-label">
                                <input class="form-check-input" id="rememberMeBox" type="checkbox" checked="true"> Remember me
                            </label>
                            <span class="psw" style="float: right;"><a style="color:black;" routerLink="/forgot-pass">Forgot password?</a></span>
                        </div>
                        <div class="form-group mb-2 text-center">
                            <button (click)="onSubmit()" class="btn btn-dark" style="width: 100%;">Login</button>
                        </div>
                        <div class="mb-2">
                            <span class="psw" style="float: right;">Not a user yet? <a style="color:black;" routerLink="/signup">Sign up</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <app-carousel id="carouselContainer" [startNumber]="4"></app-carousel>
</div>
<h1 *ngIf="this.sharedDataService.signedIn">You are already signed in!</h1>