<form name="myForm" method="post">
    <div class="" style="margin: 3px;">
        <label>Enter the code from the email we just sent you</label>
    </div>
    <div class="row" style="margin: 5px 0;">
        <input class="" style="margin-right: 10px;" type="text" name="">
        <input style="margin-right: 10px;" type="text"  name="">
        <input style="margin-right: 10px;" type="text" name="">
        <input type="text" name="">
    </div>

    <input (click)="onSubmit()" type="submit" value="Submit">
</form>