#bigContainer {
    display:flex;
    width:100%;
    padding-top: 80px;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

#autofillCheckbox {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
}

/* Sections */
/* #section1 {
    flex:2;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-around;
} */
#section2 {
    flex:55;
    justify-content: space-around;
}
#section3 {
    flex:45;
    justify-content: space-around;
}
.section {margin:10px;}

/* Breadcrumbs */
.breadCrumbs {
    width: 100%;
    padding-bottom: 20vh;
}
.prevBreadCrumb {
    position: absolute;
    right: 5vw;
}
.nextBreadCrumb {
    position: absolute;
    left: 5vw;
}
.breadCrumbButton {
    font-size: 1.5vw;
}