<div id="bigContainer">
    <div id="section2" class="section">
        <app-design-window class="notOnMobile"></app-design-window>
        <app-colors-container [paneColors]=true class="notOnMobile"></app-colors-container>
        <app-mobile-color-picker class="notOnLaptop"></app-mobile-color-picker>
    </div>
    <div id="section3" class="section">
        <p class="previewNotice notOnLaptop">Preview (scroll down to see view)</p>
        <app-window-preview-container [finished]="false"></app-window-preview-container>
    </div>
</div>


<!-- <div id="section1" class="section">
    <h1><b>Color it In!</b></h1>
    <p>Click a color from the palette then click the panes for that color. 
        Select the panels at right and color in each to complete your lightscreen.</p>
    <p>Color pane by pane or select Autofill to speed things up. 
        You can switch between modes and revert to get just the design you want. </p>
    <input type="button" class="btn btn-dark btn-med" id="submitInput" (click)="nextstage5()" value="Next"/> -->
    <!-- <input type="button" class="btn btn-dark btn-med" id="submitInput" value="Autofill"/> -->
    <!-- <app-template-selection-container></app-template-selection-container> -->
    <!-- Start of Breadcrumbs -->
    <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
        <div class="text-center">
            <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
        </div>
        <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
    </div> -->
    <!-- End of Breadcrumbs -->
<!-- </div> -->