<div id="bigContainer">
    <div id="section1" class="section">
        <h1><b>Select a Design and Color it In</b></h1>
        <p>Some random text. And then some more random text. Please stop reading it and instead focus on the visual elements.</p>
        <p>No, seriously, please stop reading this, itmight as well be written in Greek, and maybe that was the better thing to do.</p>
        <p>And one more last line just to fill things in.</p>
        <app-template-selection-container></app-template-selection-container>
        <!-- Start of Breadcrumbs -->
        <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
            <div class="text-center">
                <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
            </div>
            <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
        </div> -->
        <!-- End of Breadcrumbs -->
    </div>
    <div id="section2" class="section">
        <app-design-window></app-design-window>
        <p>Pane Color:</p>
        <app-colors-container [paneColors]=true></app-colors-container>
        <p>Filament Color:</p>
        <app-colors-container [paneColors]=false></app-colors-container>
    </div>
    <div id="section3" class="section">
        <app-window-preview-container></app-window-preview-container>
    </div>
</div>
