#bigContainer {
    display:flex;
    width:100%;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

.centerText {
    margin:auto;
    text-align: center;
}

.colorChoiceContainer {
    width:100vw;
}

#autofillCheckbox {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
}

/* Sections */
/* #section1 {
    flex:2;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-around;
} */
#section2 {
    flex:55;
    justify-content: space-around;
}
#section2-easy {
    flex:24;
}
#section3 {
    flex:45;
    justify-content: space-around;
}
.section {margin:10px;}

/* Breadcrumbs */
.breadCrumbs {
    width: 100%;
    padding-bottom: 20vh;
}
.prevBreadCrumb {
    position: absolute;
    right: 5vw;
}
.nextBreadCrumb {
    position: absolute;
    left: 5vw;
}
.breadCrumbButton {
    font-size: 1.5vw;
}

.svgPalleteIcons {
    width:5vw;
    border: 1px solid gray;
}

.currentPalleteIcon {
    width:8vw;
    margin:auto;
    flex:4;
    border: 1px solid gray;
}

.palleteArrow {
    margin:auto;
    flex:1;
}

.palleteCategoryButtons {
    display: flex;
}

.palleteIconsWithNames {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;  
    overflow-y: scroll;
    white-space: nowrap;
    max-height: 40vh;
    flex:1;
    width: 22vw;
    border: 1px solid black;
    /* flex-direction: column; */
    overscroll-behavior-x: contain;
}
.palleteIconWithName {
    display: flex;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.palleteSelectionContainer {
    display: flex;
}

.currentPalleteContainer {
    text-align: center;
}
.palleteSelection, .currentPalleteContainer {
    flex:1;
}

.palleteCategory {
    display: flex;
    flex-direction: column;
    margin-left:1vw;
    margin-bottom: 1vw;
}

.palleteLabel {
    font-size: small;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    #bigContainer {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 80vh;
    }

    #section3 {
        display: flex;
        flex-direction: column;
    }

    .previewNotice {
        font-size: 4.5vw;
        text-align: center;
    }
}

@media only screen and (min-width: 576.1px) {
    .notOnLaptop {
        display: none;
    }

    #bigContainer {
        padding-bottom: 30vh;
    }
}