<div id="orders">
    <div id="orderHeading">
        <h2 class="ordersLabel">Past Orders</h2>
        
        <a href="javascript:void(0)" class="refreshIcon" (click)="refreshOrders();">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
        </a>
        <input type="button" *ngIf="this.sharedDataService.userInfo[5] != undefined && (this.sharedDataService.userInfo[5].includes('admin') || this.sharedDataService.userInfo[5].includes('production'))" class="btn btn-dark btn-med btnReg" (click)="adminFilterToggle()" id="adminFilterInput" [value]="this.adminFilter ? 'Turn Off Admin View' : 'Turn On Admin View'"/>
    </div>
    <input type="button" class="btn btn-dark btn-med btnReg" (click)="listViewToggle()" id="listViewInput" [value]="this.listView ? 'Turn Off list View' : 'Turn On list View'"/>
    <hr />

    <!-- Start of new view for users -->
    <div id="fullOrderListContainer" *ngIf="!this.listView">
        <div *ngFor="let userOrder of this.userOrders; let i = index">
            <div class="form-check-inline userOrder orderViewContainer" *ngIf="( this.adminFilter && (this.filterStatus == 'all' || this.filterStatus.includes(userOrder[18])) ) || ( !this.adminFilter && userOrder[1] == this.sharedDataService.userInfo[3])">
                <label class="form-check-label orderViewHeader" for="{{'flexRadioDefault'+i}}">{{("Order Placed: " + formatTimestamp(userOrder[21]))}} <span class="orderIDLabel">ORDER #{{userOrder[0]}}</span></label>
                <label class="form-check-label orderViewBody" for="{{'flexRadioDefault'+i}}">{{("Status: " + userOrder[18])}}</label>
                <div class="orderViewImageAndButtons">
                    <div class="orderViewRowsTogether">
                        <div class="orderViewRow" *ngFor="let row of getPanelLayout(getOrderTemplate(userOrder), i); let rowNumber = index;">
                            <svg *ngFor="let svgTemplate of row; let panelNum = index" xmlns="http://www.w3.org/2000/svg" class="svgTemplateIcons" [attr.viewBox]="getTemplateViewBox(svgTemplate.getOptimizedD())">
                                <path [attr.style]="'fill:#'+userOrder[22]" [attr.transform]="svgTemplate.getTransform()" [attr.d]="svgTemplate.getOptimizedD()"/>
                                <path [attr.style]="this.getPaneStyle(rowNumber, panelNum, paneNum, userOrder)" [attr.transform]="svgTemplate.scaledTransform"  *ngFor="let paneNum of range(svgTemplate.subShapes.length-1)" [attr.d]="svgTemplate.polygonPaths[paneNum+1]"/>
                            </svg>
                        </div>
                    </div>

                    <div class="orderViewButtons">
                        <input type="button" class="btn btn-dark btn-med orderViewButton notOnMobile" (click)="this.selectOrder(userOrder); continueSavedDesign()" [value]="'Continue'"/>
                        <!-- <input type="button" class="btn btn-dark btn-med orderViewButton notOnMobile" [value]="'Buy Again'"/> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-- End of new view  -->

    <div id="orderListAndPreview" *ngIf="this.listView">
        <div id="orderListAndButton">
            <div id="orderList">
                <div *ngFor="let userOrder of this.userOrders; let i = index">
                    <div class="form-check-inline userOrder" *ngIf="( this.adminFilter && (this.filterStatus == 'all' || this.filterStatus.includes(userOrder[18])) ) || ( !this.adminFilter && userOrder[1] == this.sharedDataService.userInfo[3])">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" (click)="this.selectOrder(userOrder)" id="{{'flexRadioDefault'+i}}">
                        <!-- <label class="form-check-label pastOrderLabel" *ngFor="let orderField of userOrder; let j = index" for="{{'flexRadioDefault'+i}}">{{this.getOrderFieldHeading(j) + orderField}}</label> -->
                        <label class="form-check-label pastOrderLabel" for="{{'flexRadioDefault'+i}}">{{("ID: " + userOrder[0] + ", ") + "Email: " + userOrder[1] + (this.adminFilter ? (", Date: " + userOrder[21] + ", Status: " + userOrder[18]) : (", Status: " + userOrder[18]))}}</label>
                    </div>
                </div>
            </div>
            <input type="button" *ngIf="this.sharedDataService.userInfo[5] != undefined && (this.sharedDataService.userInfo[5].includes('admin') || this.sharedDataService.userInfo[5].includes('production'))" class="btn btn-dark btn-med btnReg" (click)="getOrderInfo()" id="orderInfoInput" value="Get Order Info"/>
            <input type="button" *ngIf="this.sharedDataService.userInfo[5] != undefined && (this.sharedDataService.userInfo[5].includes('admin'))" class="btn btn-dark btn-med btnReg" (click)="deleteOrder()" id="deleteOrderInput" value="Delete Order"/>
            <div *ngIf="this.adminFilter && this.sharedDataService.userInfo[5] != undefined && (this.sharedDataService.userInfo[5].includes('admin') || this.sharedDataService.userInfo[5].includes('production'))" id="orderStatusSliders">
                <div class="custom-control custom-switch" *ngFor="let templateCategory of ['Saved', 'Purchased', 'Production', 'Shipped']">
                    <input type="checkbox" class="custom-control-input" id="customSwitch_{{templateCategory}}">
                    <label class="custom-control-label" for="customSwitch_{{templateCategory}}">{{templateCategory}}</label>
                </div>
                <input type="button" class="btn btn-dark btn-med btnReg" *ngIf="this.sharedDataService.userInfo[5] != undefined && (this.sharedDataService.userInfo[5].includes('admin') || this.sharedDataService.userInfo[5].includes('production'))" (click)="updateOrderStatus()" id="templateCategoryInput"  value="Update Order Status"/>
                <input type="button" class="btn btn-dark btn-med btnReg" *ngIf="this.sharedDataService.userInfo[5] != undefined && (this.sharedDataService.userInfo[5].includes('admin') || this.sharedDataService.userInfo[5].includes('production'))" (click)="filterOrders()" id="templateFilterInput"  value="Filter Orders (select none to see all orders)"/>
                <!-- Checkbox for notification on status change -->
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch_notify">
                    <label class="custom-control-label" for="customSwitch_notify">Notify on Status Change</label>
                </div>
                
            </div>
        </div>
        <div id="previewAndContinue">
            <app-window-preview-container id="pastOrderPreview"></app-window-preview-container>
            <input *ngIf="this.order != null" type="button" class="btn btn-dark btn-med continueButton notOnMobile" (click)="continueSavedDesign()" [value]="'Continue'"/>
        </div>
        
    </div>
    
</div>