#orderHeading, #orderListAndPreview {
    display: flex;
}
#orderHeading {margin-top: 3vh; margin-left: 5vw;}

.svgTemplateIcons {
    width:5vw;
    padding-left: 0;
    padding-right: 0;
}

.orderViewHeader {
    width:100%;
    background-color: lightgray;
    padding-left: 1vw;
    font-size:x-large;
    border-top-right-radius: 1vw;
    border-top-left-radius: 1vw;
}
.orderViewBody {
    width:100%;
    font-size: large;
    background-color: lightgray;
    padding-left: 1vw;
}

.orderViewImageAndButtons {
    width:100%;
    align-self: flex-start;
    display: flex;
}

.orderViewButtons {
    flex:1;
    margin-right:1vw;
    margin-top: 1vw;
    position: relative;
}

.orderViewButton {
    width: 15vw;
    margin: auto;
    margin-bottom: 1vw;
}

.orderIDLabel {
    float:right;
    font-size: medium;
    padding-right: 1vw;
}

.orderViewRowsTogether {
    margin:1vw;
    flex:29;
}

.orderViewContainer {
    display: flex;
    flex-direction: column;
    width:50vw;
    min-height: 5vw;
    border:1px solid lightgray;
    border-radius: 1vw;
    margin:auto;
    margin-bottom: 3vh;
}

#fullOrderListContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    padding: 2px;
    margin-bottom: 4vh;
}

#orderList {
    display: flex;
    flex-direction: column;
    flex:1;
    height:70vh;
    width: 40vw;
    overflow-y: scroll;
    padding: 2px;
    margin-bottom: 4vh;
    border:1px solid black;
}

#previewAndContinue {
    flex:2;
    display: flex;
    flex-direction: column;
}
.continueButton {
    width: 15vw;
    margin: auto;
    margin-top: 2vh;
}

.btnReg {
    margin-right: 1vw;
}
#orderHeading, #orderListAndButton {
    padding-left: 2vw;
}
/* .userOrder {
    padding: 2px;
    margin-bottom: 4vh;
    border:1px solid black;
} */



#adminFilterInput, #listViewInput {
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left: 1vw;
}
#listViewInput {float: right; margin-right: 5vw; margin-left: 1vw;}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }
    
    #orderListAndPreview {
        flex-direction: column;
    }
    #orderList {
        width: 90vw;
    }
    #pastOrderPreview {
        padding-top:75px;
    }
    .pastOrderLabel {
        margin-right: 0;
    }
    
    .userOrder {
        margin-bottom: 3vh;
    }
    #adminFilterInput {
        width:30vw;
        font-size: 11px;
    }
}
