#orderHeading, #orderListAndPreview {
    display: flex;
}

#orderList {
    display: flex;
    flex-direction: column;
    flex:1;
    height:70vh;
    width: 40vw;
    overflow-y: scroll;
    padding: 2px;
    margin-bottom: 4vh;
    border:1px solid black;
}

#previewAndContinue {
    flex:2;
    display: flex;
    flex-direction: column;
}
.continueButton {
    width: 15vw;
    margin: auto;
    margin-top: 2vh;
}

.btnReg {
    margin-right: 1vw;
}
#orderHeading, #orderListAndButton {
    padding-left: 2vw;
}
/* .userOrder {
    padding: 2px;
    margin-bottom: 4vh;
    border:1px solid black;
} */



#adminFilterInput {
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left: 1vw;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }
    
    #orderListAndPreview {
        flex-direction: column;
    }
    #orderList {
        width: 90vw;
    }
    #pastOrderPreview {
        padding-top:75px;
    }
    .pastOrderLabel {
        margin-right: 0;
    }
    
    .userOrder {
        margin-bottom: 3vh;
    }
    #adminFilterInput {
        width:30vw;
        font-size: 11px;
    }
}
