<div id="checkoutContainer" class="container px-4 py-5 mx-auto">
    <div id="checkout">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card bg-dark text-white">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="row px-2">
                                <div class="form-group col-md-12">
                                    <label class="form-control-label">Address</label>
                                    <input type="text" id="searchTextField"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row px-2">
                                <div class="form-group col-md-12">
                                    <label class="form-control-label">Coupon Code</label>
                                    <input type="text" id="couponCodeInput" name="couponCode"/>
                                </div>
                            </div>

                            
                            <form [formGroup]="emailForm" *ngIf="!this.sharedDataService.signedIn">
                                <div class="row px-2" >
                                    <div class="form-group col-md-12">
                                        <label class="form-control-label">Email</label>
                                        <input type="text" formControlName="email" autocomplete="email" class="form-control" id="emailInput"/>
                                        <div style="color: red;" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                                            <span *ngIf="email?.errors?.['required']">*Email is required</span>
                                            <span *ngIf="email?.errors?.['email']">*Enter valid email (example@gmail.com)</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                    
                        

                            <!-- <button (click)="getFinalInfo()" class="btn-block btn-light notOnMobile">
                                <span>
                                    <span id="checkout">Checkout</span>
                                </span>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="breadCrumbs">
    <a *ngIf="this.sharedDataService.currentStepID == 7" (click)="previousStage()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-light btn-lg breadCrumbButton" value="Go Back"/> </a>
    <a *ngIf="this.sharedDataService.currentStepID == 7" (click)="getFinalInfo()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton nextButton" value="Checkout"/> </a>
</div>