<div id="checkoutContainer" class="container px-4 py-5 mx-auto">
    <div id="checkout">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card bg-dark text-white">
                    <div class="row" *ngIf="this.sharedDataService.signedIn">
                        <div class="col-lg-4">
                            <div class="row px-2">
                                <div class="form-group col-md-12">
                                    <label class="form-control-label">Address</label>
                                    <input type="text" id="searchTextField"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" *ngIf="isAnyValidCouponCodes()">
                            <div class="row px-2">
                                <div class="form-group col-md-12 codeDropdown">
                                    <!-- <label class="form-control-label">Coupon Code</label> -->
                                    <div class="dropdown">
                                        <button class="form-control-label btn-dark btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButtonCouponCheckout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Coupon Codes
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonCouponCheckout">
                                            <ng-container *ngFor="let couponCode of this.userCouponCodes; let i = index">
                                                <a href="javascript:void(0)" *ngIf="isValidCouponCode(i)" (click)="selectCouponCode(couponCode[1], i)" class="dropdown-item">{{couponCode[1]}}</a>
                                            </ng-container>
                                            
                                        </div>
                                    </div>
                                    <input type="text" disabled id="couponCodeInput" name="couponCode"/>
                                    
                                </div>
                            </div>
                            <!-- <button (click)="getFinalInfo()" class="btn-block btn-light notOnMobile">
                                <span>
                                    <span id="checkout">Checkout</span>
                                </span>
                            </button> -->
                        </div>
                        <div class="col-lg-4">
                            <div class="row px-2">
                                <p class="mb-0 text-white">First Name</p>
                            </div>
                            <div class="row px-2">
                                <p *ngIf="!this.isUpdatingInfo" class="text-muted mb-0">{{this.sharedDataService.userInfo[1]}}</p>
                                <input *ngIf="this.isUpdatingInfo" type="text" class="form-control" value="{{this.sharedDataService.userInfo[1]}}" id="firstNameInput"/>
                                <a *ngIf="!this.isUpdatingInfo" href="javascript:void(0)" (click)="this.changeUpdatingInfo(true)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="row px-2">
                                <p class="mb-0 text-white">Last Name</p>
                            </div>
                            <div class="row px-2">
                                <p *ngIf="!this.isUpdatingInfo" class="text-muted mb-0">{{this.sharedDataService.userInfo[2]}}</p>
                                <input *ngIf="this.isUpdatingInfo" type="text" value="{{this.sharedDataService.userInfo[2]}}" class="form-control" id="lastNameInput"/>
                                <a *ngIf="!this.isUpdatingInfo" href="javascript:void(0)" (click)="this.changeUpdatingInfo(true)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
            
                                <!-- Checkmark to complete updates -->
                                <a *ngIf="this.isUpdatingInfo" href="javascript:void(0)" (click)="this.updateUserInfo()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                      </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!this.sharedDataService.signedIn">
                        <form [formGroup]="emailForm" class="emailForm" *ngIf="this.sharedDataService.userInfo.length <= 1">
                            <div class="form-group mt-2 mb-2 emailInput">
                                <input type="text" placeholder="Enter Email" formControlName="email" class="form-control inputField" id="requiredEmailFieldStep0" />
                                <div style="color: red;" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                                  <span *ngIf="email?.errors?.['required']">*Email is required to save your design</span>
                                  <span *ngIf="email?.errors?.['email']">*Enter valid email (example&#64;gmail.com)</span>
                                </div>
                            </div>
                            <div class="form-group sendButton mt-2 mb-2">
                              <button class="btn btn-outline-light registerBtn" (click)="submitEmailForm('step0')"><b>Register</b></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="breadCrumbs" id="checkoutBreadcrumbs">
    <a *ngIf="this.sharedDataService.currentStepID == 7" (click)="previousStage()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-light btn-lg breadCrumbButton" value="Go Back"/> </a>
    <a *ngIf="this.sharedDataService.currentStepID == 7" (click)="getFinalInfo()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton nextButton" value="Checkout"/> </a>
</div>