body {
    color: #000;
    overflow-x: hidden;
    /* height: 100%; */
    background-repeat: no-repeat;
}

.plus-minus {
    position: relative;
}

.plus {
    position: absolute;
    top: -4px;
    left: 2px;
    cursor: pointer;
}

.minus {
    position: absolute;
    top: 8px;
    left: 5px;
    cursor: pointer;
}

.vsm-text:hover {
    color: #FF5252;
}

.book, .book-img {
    width: 120px;
    height: 180px;
    border-radius: 5px;
}

.book {
    margin: 20px 15px 5px 15px;
}

.border-top {
    border-top: 1px solid #EEEEEE !important;
    margin-top: 20px;
    padding-top: 15px;
}

.card {
    margin: 40px 0px;
    padding: 40px 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.2);
}

input, textarea {
    padding: 8px 15px 8px 15px;
    width: 100%;
    border-radius: 5px !important;
    box-sizing: border-box;
    font-size: 15px !important;
    color: #000 !important;
    font-weight: 300;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.pay {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 5px 10px 1px rgba(0,0,0,0.2);
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    color: #E0E0E0;
}

.gray .pay {
    box-shadow: none;
}

#tax {
    margin-top: 10px;
    padding-top: 10px;
}

.btn-light {
    border-radius: 10px;
    padding: 8px 15px;
    margin: 33px 0px;
    cursor: pointer;
}


/* #checkout {
    float: left;
} */

#check-amt {
    float: right;
}

@media screen and (max-width: 768px) {
    .book, .book-img {
        width: 100px;
        height: 150px;
    }

    .card {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mob-text {
        font-size: 13px;
    }

    .pad-left { 
        padding-left: 20px;
    }
}

@media screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    /* Breadcrumbs */
    .breadCrumbs {
        width: 100vw;
        position: fixed;
        bottom: 8.5vh;
    }
    .prevBreadCrumb {
        left: 5vw;
    }
    .nextBreadCrumb {
        right: 5vw;
    }
    .breadCrumbButton {
        font-size: 4vw;
        width: 42.5vw;
        margin-left: 5vw;
    }
    .nextButton {
        color: white !important;
    }

    .py-5 {
        padding-top: 0px!important;
    }
}

@media screen and (min-width: 576.1px) {
    #checkoutContainer {
        height: 100vh;
    }
}

