<!-- bootstrap css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- main app container -->
<div id="formRegisterContainer" *ngIf="!this.sharedDataService.signedIn">
    <div class="container">
        <div class="container mt-3">
            <div class="row" style="text-align: center;">
                <div style="font-size: x-large;">Sign up</div>
            </div>
            <div class="row pb-3">
                <div class="md-3">
                    <form [formGroup]="registerForm">
                        <div class="form-group mt-2 mb-2">
                            <label>First Name</label>
                            <input type="text" formControlName="firstName" class="form-control" />
                            <div style="color: red;" *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)">
                                <span *ngIf="firstName?.errors?.['required']">*Name is required</span>
                            </div>
                        
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label>Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control" />
                            <div style="color: red;" *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)">
                                <span *ngIf="lastName?.errors?.['required']">*Name is required</span>
                            </div>
                        
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label>Email</label>
                            <input type="text" formControlName="emailId" class="form-control" />
                            <div style="color: red;" *ngIf="emailid?.invalid && (emailid?.touched || emailid?.dirty)">
                                <span *ngIf="emailid?.errors?.['required']">*Email is required</span>
                                <span *ngIf="emailid?.errors?.['email']">*Enter valid email (example@gmail.com)</span>
                            </div>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label>Password</label>
                            <div class="input-group flex-nowrap">
                                <input [(ngModel)]="passW" [type]="pass" formControlName="password" class="form-control" />
                                <button type="button" class="btn btn-outline-secondary" (click)="onClickShowPass()">
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!isShow"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isShow"></i>
                                </button>
                            </div>
                            
                            <div style="color: red;" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
                                <span *ngIf="password?.errors?.['required']">*Password is required</span>
                                <span *ngIf="password?.errors?.['minlength'] || password?.errors?.['maxlength']">
                                    Password must from 8 to 24 characters
                                </span>
                            </div>
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label>Confirm password</label>
                            <div class="input-group flex-nowrap">
                                <input [(ngModel)]="confirmPass" [type]="cpass" formControlName="confirmPassword"
                                class="form-control" (change)="changeConfirmPass()" />
                                <button type="button" class="btn btn-outline-secondary" (click)="onClickShowConfirmPass()">
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!isCshow"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="isCshow"></i>
                                </button>
                            </div>
                            <div style="color: red;"
                                *ngIf="confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)">
                                <span *ngIf="confirmPassword?.errors?.['required']">*Confirm password is required</span>
                                <!-- <span *ngIf="!isPass">Passwords not match</span> -->
                            </div>
                            <span style="color: red;" *ngIf="!isPass">Password doesn't match</span>
                        </div>
                        <div class="form-group form-check mb-2">
                            <label class="form-check-label">
                                <input class="form-check-input" id="rememberMeBox" type="checkbox" checked="true"> Remember me
                            </label>
                            <span class="psw" style="float: right;"><a style="color:black;" routerLink="/forgot-pass">Forgot password?</a></span>
                        </div>
                        
                        <div class="form-group mt-2 mb-2">
                            <button (click)="onSubmit()" style="width: 100%;" class="btn btn-dark">Create account</button>
                        </div>
                        <div class="form-group mb-2">
                            <span class="psw" style="float: right;">Already have an account? <a style="color:black;" routerLink="/login">Login</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- <app-carousel id="carouselContainer" [startNumber]="2"></app-carousel> -->
    
</div>
<h1 *ngIf="this.sharedDataService.signedIn">You are already signed in!</h1>