#formRegisterContainer {
    display: flex;
    flex-direction: column;
}

.container {
    flex:1;
    padding-left: 6vw;
    padding-right: 2vw;
    padding-top: 2vh;
    
}

.fbButton {
    margin-top: 2vh;
}
.header {
    padding-bottom: 2vh;
}

#carouselContainer {
    flex:2;
    padding-top: 2vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

@media only screen and (max-width: 576px) {
    #carouselContainer {
        display: none;
    }
    #formRegisterContainer {
        margin:auto;
    }
}