<!-- <h1>{{this.sharedDataService.userInfo[1] + " " + this.sharedDataService.userInfo[2]}}</h1> -->


<div class="container py-5">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{this.sharedDataService.userInfo[1]}}</p>
                    <a href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                </div>
                <div class="col-sm-3">
                    <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-muted mb-0">{{this.sharedDataService.userInfo[2]}}</p>
                    <a href="javascript:void(0)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">{{this.sharedDataService.userInfo[3]}}</p>
                </div>
            </div>
            <!-- <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">(097) 234-5678</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="kickstarterCodeCon">
    <div class="addCode">
        <h3>Add Kickstarter Code</h3>
        <div class="form-group form-row">
            <div class="col inputCol">
                <input type="text" class="form-control" id="kickstarterCodeInput"/>
            </div>
            <div class="col btnCol">
                <input type="button" class="btn btn-med btn-dark addButton" value="Add" (click)="addCouponCode()" />
            </div>
        </div>
        <!-- <input type="text" />
        <input type="button" class="btn btn-sm btn-dark addButton" value="Add" /> -->
    </div>
    
</div>

