.col-sm-3, #orderHeading {
    display: flex;
}
p {
    margin:5px;
}

.pastOrderLabel {
    margin-right: 1vw;
}

#orders {
    padding-left: 2vw;
}
.userOrder {
    padding: 2px;
    margin-bottom: 4vh;
    border:1px solid black;
}

