<div id="bigContainer">
    <div id="section1" class="section">
        <a class="btn bg-light text-center text-white btn-outline-dark btn-floating m-1" (click)="previousStage()" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
        <h1><b>Choose your design</b></h1>
        <p>Browse through our collections of design templates and select the one that’s best for your window.</p>
        <div id="templateCategoryImages">
            <figure (click)="showTemplates()" class="templateCategoryImageCon" *ngFor="let templateCategory of ['Frank Lloyd Wright', 'Floral', 'Abstract']">
            <img class="templateCategoryImage" src="assets/img/editedPhotos/carousel1.jpeg" alt="{{templateCategory}}">
              <!-- <img id="dividerTypeImage_{{dividerType}}"  src="assets/img/windowButtons2/square1to1{{dividerType}}.svg" alt="{{dividerType}}"/> -->
              <figcaption>{{templateCategory}}</figcaption>
            </figure>
        </div>
        
        <!-- Start of Breadcrumbs -->
        <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
            <div class="text-center">
                <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
            </div>
            <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
        </div> -->
        <!-- End of Breadcrumbs -->
    </div>
    <div id="section2" class="section">
        <app-template-selection-container id="templateSelectionContainer" style="visibility: hidden;" [flexColumn]="true"></app-template-selection-container>
    </div>
</div>
