#bigContainer {
    display:flex;
    width:100%;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

/* Sections */
#section1 {
    flex:1;
    padding-left: 2vw;
    padding-right: 2vw;
    /* justify-content: space-around; */
}
#section2 {
    flex:2;
    padding-left: 10vw;
    justify-content: space-around;
}
/* .section {margin:10px;} */

/* Divider types */

.templateCategoryImage {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 10vw;
    object-fit: contain;
}

figcaption {
    text-align: center;
    margin-top: 2vh;
    font-size: 1.4vw;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
}


.btn {
    margin-top: 5vh;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    h1 {
        font-size: 8vw;
        text-align: center;
    }

    .templateName {
        font-size:6vw;
        flex:8;
        width: fit-content;
        text-align: left;
        margin-top: 2vw;
        margin-left: 4vw;
    }
    .templateCategoryImage {
        flex: 2;
    }

    .dropdown-toggle {
        margin: auto;
        display: flex;
        width: 90vw;
    }

    .dropdown-item {
        margin: auto;
        display: flex;
        width: 90vw;
    }

    .dropdown-toggle::after {
        margin-top: 6vw;
    }

    #bigContainer {
        flex-direction: column;
        padding-bottom: 90vh;
    }

    /* Sections */
    #section1 {
        width: 100vw;
        /* justify-content: space-around; */
    }

    #section2 {
        padding-left: 0;
    }
    
}

@media only screen and (min-width: 576.1px) {
    .notOnLaptop {
        display: none;
    }

    #bigContainer {
        padding-top: 5px;
    }
    #templateCategoryImages {
        display: flex;
        padding-left: 2vw;
        padding-right: 2vw;
    }
    
}