#bigContainer {
    display:flex;
    width:100%;
    padding-top: 80px;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

/* Sections */
#section1 {
    flex:1;
    padding-left: 2vw;
    padding-right: 2vw;
    /* justify-content: space-around; */
}
#section2 {
    flex:2;
    padding-left: 10vw;
    justify-content: space-around;
}
/* .section {margin:10px;} */

/* Divider types */
#templateCategoryImages {
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}
.templateCategoryImage {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 10vw;
    object-fit: contain;
}

figcaption {
    text-align: center;
    margin-top: 2vh;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}