.carousel_div { 
    padding-right: 1vw;
    padding-left: 1vw;
    /* border: thick double black; */
}
.carousel-inner {
    margin: auto;
}
.carousel-item {
    padding-bottom: 2vh;
    object-fit: contain;
}
.carousel { 
    border-radius: 2%;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}


.carousel .carousel-indicators .active {
    background-color: #444;
}

img {
    max-height: 80vh;
    padding-bottom: 4vh;
    object-fit: contain;
}


@media only screen and (max-width: 576px) {
    img {
        max-height: 30vh;
    }
}
