.carousel_div { 
    padding-right: 1vw;
    padding-left: 1vw;
    max-height: 80vh;
    display:flex;
    /* border: thick double black; */
}

.carousel-inner {
    margin: auto;
}
.carousel-item {
    padding-bottom: 2vh;
    object-fit: contain;
}

.carousel { 
    border-radius: 2%;
}

#carouselLeftExampleControls, #carouselRightExampleControls {
    position: relative;
}

@media only screen and (max-width: 576px) {
    #carouselExampleControls {
        width: 70vw;
    }
    #carouselLeftExampleControls, #carouselRightExampleControls {
        width: 70vw;
    }
    #carouselLeftExampleControls {
        margin-left: -35vw;
    }
    #carouselRightExampleControls {
        margin-right: -35vw;
    }
}

@media only screen and (min-width: 576px) {
    #carouselExampleControls {
        width: 50vw;
    }
    #carouselLeftExampleControls, #carouselRightExampleControls {
        width: 50vw;
    }
    #carouselLeftExampleControls {
        margin-left: -25vw;
    }
    #carouselRightExampleControls {
        margin-right: -25vw;
    }
}


.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-control {
    color: white;
    position:absolute;
    bottom:25%;
}

.left {right:0;}
.right {left:0;}

.carousel .carousel-indicators .active {
    background-color: #444;
}

img {
    max-height: 80vh;
    object-fit: contain;
    position: relative;
}

.nonActive {
    filter: blur(1px);
}

