<div class="fullWin">
    <div class="windowTemplate" *ngFor="let window of svgTemplateData; let i = index">
        <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
        src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
        (click)="displayTemplate(window, i)"/> -->

        <svg *ngFor="let svgTemplate of window" xmlns="http://www.w3.org/2000/svg" (click)="displayTemplate(window, i)" class="svgTemplateIcons"  [attr.viewBox]=getTemplateViewBox(svgTemplate.d)>
            <path  style="fill:#666666" [attr.d]=getOptimizedTemplateD(svgTemplate.d)/>
        </svg>
    </div>
</div>