.svgTemplateIcons {
    width:5vw;
}

.fullWin {
    display: flex;
    overflow-x: scroll;  
    overflow-y: hidden;  
    white-space: nowrap;
    max-width: 55vw;
    border: 1px solid black;
}

.windowTemplate {
    flex:1;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
}