.svgTemplateIcons {
    width:5vw;
}

.fullWin {
    display: flex;
    overflow-x: scroll;  
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 55vw;
    border: 1px solid black;
}

.fullWin::-webkit-scrollbar {
    -webkit-appearance: none;
}

.fullWin::-webkit-scrollbar:horizontal {
    height: 11px;
}

.fullWin::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.windowTemplate {
    flex:1;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
}