.svgTemplateIcons {
    width:5vw;
    padding-left: 0;
    padding-right: 0;
}

.fullWin {
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;  
    overflow-y: scroll;
    white-space: nowrap;
    max-height: 75vh;
    flex:1;
    width: 45vw;
    border: 1px solid black;
    /* flex-direction: column; */
    overscroll-behavior-x: contain;
}

.fullWin::-webkit-scrollbar {
    -webkit-appearance: none;
}

.fullWin::-webkit-scrollbar:horizontal {
    height: 11px;
}

.fullWin::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.windowTemplateContainer {
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    flex-direction: column;
}

.windowTemplate {
    flex:1;
    display: flex;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    .fullWin {
        height: 60vh;
        flex:1;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vw;
        border: 1px solid black;
        /* flex-direction: column; */
        overscroll-behavior-x: contain;
    }

    .svgTemplateIcons {
        width:80vw;
    }

    .windowTemplate {
        flex:1;
        display: flex;
        justify-content: center;
    }

    .windowTemplateContainer {
        padding-bottom: 5vh;
    }
    
    
}

@media only screen and (min-width: 576.1px) {
    .notOnLaptop {
        display: none;
    }
    
}