#colorsContainer {
    display:flex;
    flex-direction: column;
    height: 431px;
    width: 65px;
    overflow-x: hidden;  
    overflow-y: scroll;  
    white-space: nowrap;
}

#colorsContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

#colorsContainer::-webkit-scrollbar:vertical {
    width: 11px;
}

#colorsContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}