<!-- 
    + list all currently regisetered users
     + display their user info (name, email, signup date, etc)
     + allow for filters like number of orders placed, saved, etc
     + display data like total number of users that meet the filter requirement, percent with order, etc
     + (optional) allow for clicking on a user and seeing their orders/saved orders
-->
<div id="userDirectory">
    <div id="userDirectoryList">
        <div id="userDirectoryHeader">
            <h1>User Directory</h1>
            <a href="javascript:void(0)" class="refreshIcon" (click)="refreshUsers();">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                </svg>
            </a>
        </div>
        <div id="usersList">
            <div class="userData" *ngFor="let user of this.userData; let i=index">
                <div class="form-check-inline user" (click)="this.selectUser(user)">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{'flexRadioDefault'+i}}">
                    <label class="form-check-label pastOrderLabel" for="{{'flexRadioDefault'+i}}"><b>ID: </b>{{user[0]}} <b>First Name: </b>{{user[1]}} <b>Last Name: </b>{{user[2]}} <b>Email: </b>{{user[3]}} <b>Signup Date: </b>{{user[5]}}</label>
                </div>
            </div>
        </div>
    </div>
    <div id="filter">
        <h1>Filter</h1>
        <form id="usersFilter">
            <div class="form-group form-row">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Number of Orders:</span>
                    </div>
                    <input type="number" class="form-control" id="orderInput"/>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Number of Drawings Saved:</span>
                      </div>
                    <input type="number" class="form-control" id="savedInput"/>
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Signup Date:</span>
                    </div>
                    <input type="text" class="form-control" id="signupInput"/>
                </div>
            </div>
            <input type="button" class="btn btn-dark btn-med" id="filterInput" (click)="this.filterUsers()"  value="Filter"/>
            <input type="button" class="btn btn-dark btn-med" id="displayInput" (click)="this.displayUserData()" style="margin-left: 20px;"  value="Data Display"/>
        </form>
    </div>
</div>
