<div id="faqPageContainer">
    <h1 id="faqTitle">FAQs</h1>
    <div class="questionAnswerPair">
        <p><b>What materials are lightscreens made of?</b></p>
        <p><i>
            Lightscreens are made from laser cut acrylic panes mounted in 3D printed plastic frames. 
            We exclusively use UV coated translucent cast acrylic which is similar to plexiglass and PETG 
            3D printing filament which is similar to the plastic used for water bottles. Both materials are 
            UV resistant, colorfast, durable and flexible even in bright and hot environments over the course 
            of years.
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>How does LightScreen.art produce frames?</b></p>
        <p><i>
            LightScreen.art frames are produced on Fused Deposition Modeling (FDM) 3D printers which build 
            objects from heated plastic filament on a layer by layer basis. Specifically, we use Creality 
            CR-10 S5 and MingDa Magician Pro Machines which allow us to produce panels ranging from 4 inches 
            (100 mm) to 19 inches (480 mm).
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>How does LightScreen.art produce panes?</b></p>
        <p><i>
            LightScreen.art panes are precision cut by laser cutters which use a concentrated beam of 
            intense focused light to precision cut acrylic sheets.
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>I'm worried that I got the measurements wrong on my lightscreen - what do I do?</b></p>
        <p><i>
            First, it is always a good idea to recheck your measurements, as well as compare them to our 
            pane calculations. If you're not feeling confident with a measuring tape, it is a safer bet to 
            round down rather than up. Reworking lightscreen panels that are too large or small is a 
            difficult process.  Once you receive your lightscreen and it doesn't fit, contact us at 
            info@lightscreen.art so we can guide you through the next steps. It's best to avoid this problem 
            before it happens, please review our Measurement Tutorial.
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>Are lightscreens breakable?</b></p>
        <p><i>
            Not very. Our lightscreens are made from acrylic embedded in PETG plastic frames. Therefore, 
            they're as unbreakable as plexiglass windows and plastic water bottles. They're proven to 
            withstand drops onto hard surfaces from as high as seven feet (two meters).
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>Can lighscreens be removed and reinstalled?</b></p>
        <p><i>
            Yes. Lightscreens are mounted to window glass using two sided gel tape with Very High Bond 
            (VHB) adhesive. Similar to fugitive glue used for direct mail but stronger, lightscreens may 
            be carefully pulled off a window and reinstalled on that window or another window if dimensions 
            allow. Our gel tape resists oil and grease and may be restored to nearly full strength by 
            cleaning it with water. When removed, our tape doesn't leave a residue making lightscreens ideal 
            for temporary residences like apartments and dormitories as well as seasonal installations at 
            holiday time.
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>Can lightscreens withstand temperature extremes?</b></p>
        <p><i>
            Yes. Both the acrylic sheets and PETG plastic filament used by LightScreen.art will withstand 
            temperature up to 180 degrees Fahrenheit (82 degrees Celsius) and down to -40 degrees Fahrenheit 
            (-40 degrees Celsius). They may be safely installed indoors on windows and even in most outdoor 
            environments.
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>Do lightscreens provide any insulation properties?</b></p>
        <p><i>
            Not much. The R-value for acrylic is 0.86 and 0.19 for PETG which is a very small fraction 
            of the R-value for fiberglass or foam insulation. Moreover, lightscreens don't provide an 
            airtight seal as does double pane windows and plastic insulation film. Because lightscreens 
            limit light transfer they provide some cooling effect when in direct sunlight.
        </i></p>
    </div>
    <div class="questionAnswerPair">
        <p><b>Does LightScreen.art provide a warranty?</b></p>
        <p><i>
            Yes, the materials we use allows us to provide a seven year warranty against breakage and color 
            change for our lightscreens. We warrant that our lightscreen dimensions will be within 1/16 inch 
            (1 mm) of customer provided dimensions. Note that our warranty does not apply to inaccurate 
            dimensions provided by our customers.
        </i></p>
    </div>
</div>