<!-- Step 2.a -->
<h4 id="stage2Header"><b>tell us about your window</b></h4>
<div id="stage2ACon">
  <div *ngFor="let post of this.posts" id="section1" class="section">
    <div id="dividerTypeImages">
      <figure class="dividerTypeImageCon" *ngFor="let dividerType of ['nodiv', 'raiseddiv', 'embeddeddiv']" (click)="chooseDivider(dividerType);" [attr.style]="this.getIconHighlight('dividerType', dividerType)">
        <img id="dividerTypeImage_{{dividerType}}" class="dividerTypeImage" src="assets/img/windowButtons2/window{{dividerType}}.png" alt="{{dividerType}}"/>
        <figcaption>{{dividerName(dividerType)}}</figcaption>
        <br *ngIf="dividerType=='raisediv'"/>
      </figure>
    </div>
  </div>
  <div id="section2" class="section">
    <span [innerHTML]="this.contentfulService.markdownToHtml(this.posts[0].fields.stage2hiddenBody)" id="windowShapeTextMobile" class="notOnLaptop"></span>
    <div id="windowShapeImages">
      <div class="middleWindowShapes" *ngIf="this.sharedDataService.sampleOrder == ''">
        <figure class="windowShapeImageCon" *ngFor="let windowShape of ['vertical2to4']" (click)="chooseWindowShape(windowShape);" [attr.style]="this.getIconHighlight('windowShape', windowShape)">
          <img id="windowShapeImage_{{windowShape}}" class="windowShapeImage" src="{{this.getWindowShapeSrc(windowShape)}}" alt="{{windowShape}}"/>
          <figcaption class="windowShapeCaption">{{windowShapeExample(windowShape)}}</figcaption>
        </figure>
      </div>
      <div class="middleWindowShapes" *ngIf="this.sharedDataService.sampleOrder == ''">
        <figure class="windowShapeImageCon" *ngFor="let windowShape of ['2xhung2to4']" (click)="chooseWindowShape(windowShape);" [attr.style]="this.getIconHighlight('windowShape', windowShape)">
          <img id="windowShapeImage_{{windowShape}}" class="windowShapeImage" src="{{this.getWindowShapeSrc(windowShape)}}" alt="{{windowShape}}"/>
          <figcaption class="windowShapeCaption">{{windowShapeExample(windowShape)}}</figcaption>
        </figure>
      </div>

      <div class="middleWindowShapes" *ngIf="this.sharedDataService.sampleOrder != '' && this.sharedDataService.signedIn && isAnyCoasterCouponCodes()">
        <figure class="windowShapeImageCon" *ngFor="let windowShape of ['coasters']" (click)="chooseWindowShape(windowShape);" [attr.style]="this.getIconHighlight('windowShape', windowShape)">
          <img id="windowShapeImage_{{windowShape}}" class="windowShapeImage" src="{{this.getWindowShapeSrc(windowShape)}}" alt="{{windowShape}}"/>
          <figcaption class="windowShapeCaption">{{windowShapeExample(windowShape)}}</figcaption>
        </figure>
      </div>
      <div class="middleWindowShapes" *ngIf="this.sharedDataService.sampleOrder != ''">
        <figure class="windowShapeImageCon" *ngFor="let windowShape of ['lightcatcher']" (click)="chooseWindowShape(windowShape);" [attr.style]="this.getIconHighlight('windowShape', windowShape)">
          <img id="windowShapeImage_{{windowShape}}" class="windowShapeImage" src="{{this.getWindowShapeSrc(windowShape)}}" alt="{{windowShape}}"/>
          <figcaption class="windowShapeCaption">{{windowShapeExample(windowShape)}}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>