<!-- Step 2.a -->
<div id="stage2ACon">
  <div id="section1" class="section">
    <h1>First, a couple of quick questions</h1>
    <p>What does your window look like? Is it a plain single pane of glass or does it have dividers? Are the
      dividers raised above the window separating the panes or are they embedded between double panes?
      <br/>
      <br/>
      Click the window at right that looks the most like your window.
      <br/>
      What is your preferred unit of measure?
    </p>

    <!-- Start of Radio form -->
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">inches
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">mm
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">cm
      </label>
    </div>
    <!-- End of Radio form -->
  </div>
  <div id="section2" class="section">
    <div id="dividerTypeImages">
      <figure class="dividerTypeImageCon" *ngFor="let dividerType of ['plain', 'realdiv', 'simdiv']" (click)="chooseDivider(dividerType);">
        <img id="dividerTypeImage_{{dividerType}}" class="dividerTypeImage" src="assets/img/windowButtons/square1to1{{dividerType}}.svg" alt="{{dividerType}}"/>
        <figcaption>{{dividerType}}</figcaption>
      </figure>
    </div>
  </div>
</div>
<!-- Adding Breadcrumbs -->
<div class="breadCrumbs" id="step2ABreadCrumbs">
  <a href="#" class="prevBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Prev"/> </a>
  <a href="#stage2BCon" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
</div>

<!-- Step 2.b -->
<div id="stage2BCon">
  <div id="section1b" class="section">
    <h1>Select the shape of your window</h1>
    <p>What's the general shape of your window? Is it horizontal, vertical square? Is it narrow or wide? 
      Maybe it's a double hung sash window with two separate panes?
      <br/>
      <br/>
      Click the window at right that looks the most like your window. Don't be too concerned with the 
      exact dimensions, we'll get to that in the next step.
    </p>
  </div>
  <div id="section2b" class="section">
    <div id="windowShapeImages">
      <figure class="windowShapeImageCon" *ngFor="let windowShape of windowShapes" (click)="chooseWindowShape(windowShape);">
        <img id="windowShapeImage_{{windowShape}}" class="windowShapeImage" src="assets/img/windowButtons/{{windowShape}}{{dividerType}}.svg" alt="{{windowShape}}"/>
      </figure>
    </div>
  </div>
</div>
<!-- Adding Breadcrumbs -->
<div class="breadCrumbs" id="step2BBreadCrumbs">
  <a href="#stage2ACon" class="prevBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Prev"/> </a>
  <a href="#stage3" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
</div>
