#stage2Container {
    display: flex;
}
#stage2Div1 {
    flex:1;
}
#stage2Div2 {
    flex:1;
    border: 1px solid red;
}
#stage2Div2 {
    width:50%;
}

.svgTemplateIcons {
    width: 200px;
    height: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.filter{ 
    filter: invert(8%) sepia(100%) saturate(7101%) hue-rotate(248deg) brightness(104%) contrast(144%);
}