#stage2ACon, #stage2BCon {
    display: flex;
}

/* Sections */
#section1, #section1b {
    flex:1;
    padding-left: 2vw;
    padding-right: 2vw;
}
#section2 {
    visibility: hidden;
    flex: 2;
    height: 70vh;
    padding-top: 0vh;
}
#section2 {
    flex: 2;
    max-height: 70vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

#windowShapeText {
    visibility: hidden;
}
/* Divider types */
#dividerTypeImages {
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}
.dividerTypeImage {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 10vw;
    object-fit: contain;
}

/* Window Shapes */
#windowShapeImages {
    display: flex;
}
.windowShapeImage {
    flex:1;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    max-height: 70vh;
    margin-top: 10%;
    padding-bottom: 1vh;
    object-fit:contain;
}

.windowShapeCaption {
    flex: 1;
}

.windowShapeImageCon {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Figures and forms */
.form-check-label {
    font-size: 1.4vw;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
}

figcaption {
    text-align: center;
    font-size: 1.4vw;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 300;
    padding: 0rem 1rem;
}


.middleWindowShapes {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    #emailStep0 {
        padding-top: 5vh;
        padding-bottom: 90vh;
        width: 96vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    #emailStep0 > h4 {
        width: 70vw;
    }
    /* Text */
    .emailForm {
        display: flex;
    }
    .emailInput {
        flex: 2;
    }
    .registerBtn {
        margin-left: 1vw;
        flex: 1;
    }

    #stage2ACon, #stage2BCon {
        flex-direction: column;
    }

    .dividerTypeImage {
        width: 28vw;
    }

    .dividerTypeImageCon {
        padding-top: 2vh;
        padding-bottom: 3vh;
    }

    .windowShapeImage {
        height: 70vh;
        max-width: 40vw;
    }

    .windowShapeImageCon {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    /* Sections */
    #section1, #section1b {
        flex:1;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #section1 {padding-bottom: 90vh;}
    #section2 {
        visibility: hidden;
        flex: 2;
        padding-top: 3vh;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #section2 {
        flex: 2;
        max-height: 90vh;
        margin-left: 2vw;
        margin-right: 2vw;
    }

    figcaption {
        font-size: 3vw;
    }
}

@media only screen and (min-width: 576.1px) {
    #emailStep0 {
        padding-top: 10px;
        width: 40vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    /* Text */
    .emailForm {
        display: flex;
    }
    .emailInput {
        flex: 2;
    }
    .registerBtn {
        margin-left: 1vw;
        flex: 1;
    }

    .notOnLaptop {
        display: none;
    }

    .dividerTypeImageCon {
        padding-top: 2vh;
    }
}