#stage2ACon, #stage2BCon {
    display: flex;
    padding-top: 75px;
}

/* Text */


/* Sections */
#section1, #section1b {
    flex:1;
    padding-left: 12vh;
    padding-right: 12vh;
}
#section2 {
    flex: 2;
    height: 70vh;
    padding-top: 20vh;
}
#section2b {
    flex: 2;
    max-height: 70vh;
    /* overflow-y: scroll; */
    margin-left: 2vw;
    margin-right: 2vw;
    /* border: 1px solid black; */
}

/* Divider types */
#dividerTypeImages {
    display: flex;
    padding-left: 2vw;
    padding-right: 2vw;
}
.dividerTypeImage {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 10vw;
    object-fit: contain;
}

/* Window Shapes */
.windowShapeImage {
    float: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    max-width:22vw;
    max-height:30vh;
    object-fit: contain;
}

/* Figures and forms */
.form-check-label {
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

figcaption {
    text-align: center;
    font-size: 1.4vw;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* Breadcrumbs */
.breadCrumbs {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 20vh;
}
.prevBreadCrumb {
    position: absolute;
    right: 5vw;
}
.nextBreadCrumb {
    /*position: absolute;
     left: 5vw;*/
}
.breadCrumbButton {
    font-size: 1.5vw;
}