#windowPreviewContainertrue {
    display: flex;
    flex-direction: column;
}

#windowPreviewContainerfalse {
    display: flex;
    flex-direction: column;
}


.svgTemplateIcons {
    padding-left: 0;
    padding-right: 0;
}

.fullWin {
    display: flex;
    white-space: nowrap;
    margin-left: 1vw;
    margin-right: 1vw;
    flex-direction: column;
}

.fullWin::-webkit-scrollbar {
    -webkit-appearance: none;
}

.fullWin::-webkit-scrollbar:horizontal {
    height: 11px;
}

.fullWin::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


.windowTemplate {
    flex:1;
    justify-content: center;
}
