#windowPreviewContainer {
    display: flex;
    flex-direction: column;
}

.windowSVG {
    padding-top: 100px;
    padding-bottom: 1px;
    overflow: visible;
}

svg {
    margin:50px;
    overflow: visible;
}