
    <!-- <div id="windowPreviewContainer{{finished}}"> -->
        <!-- Dynamically create svg items to go in here -->
    <!-- </div> -->
    <div class="fullWin">
        <div class="windowTemplate" *ngFor="let row of this.sharedDataService.panelLayout; let rowNum = index">
            <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
            src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
            (click)="displayTemplate(window, i)"/> -->
    
            <svg *ngFor="let svgTemplate of row; let colNum = index" xmlns="http://www.w3.org/2000/svg" (click)="displayTemplate(svgTemplate.getOptimizedD(), rowNum, colNum, svgTemplate.getTransform())" class="svgTemplateIcons" [attr.viewBox]=getTemplateViewBox(svgTemplate.getOptimizedD())>
                <path id="{{getPanelID(rowNum, colNum)}}" [attr.transform]="svgTemplate.getTransform()" style="fill:#666666;" [attr.d]=svgTemplate.getOptimizedD()/>
                <path style="fill:#f0f0f1;" [attr.transform]="svgTemplate.getTransform()" id="{{getPaneID(rowNum, colNum, paneNum)}}" *ngFor="let paneNum of range(svgTemplate.subShapes.length-1)" [attr.d]="svgTemplate.subShapes[paneNum+1].getScalablePath()"/>
            </svg>

            <!-- <svg *ngFor="let svgTemplate of row; let colNum = index" xmlns="http://www.w3.org/2000/svg" (click)="displayTemplate(svgTemplate.getOptimizedD(), rowNum, colNum, svgTemplate.getTransform())" class="svgTemplateIcons" [attr.viewBox]="getTemplateViewBox(svgTemplate.getScaledD( ( isRowInTopSash(rowNum) ? getPanelWidth() : getPanelWidth(false) )/300 , ( isRowInTopSash(rowNum) ? getPanelHeight() : getPanelHeight(false) )/300 )[0], getScaleX(svgTemplate, rowNum), getScaleY(svgTemplate, rowNum))">
                <path id="{{getPanelID(rowNum, colNum)}}" [attr.transform]="'scale(' + getScaleX(svgTemplate, rowNum) + ',' + getScaleY(svgTemplate, rowNum) +') ' + svgTemplate.getTransform()" style="fill:#666666;" [attr.d]="svgTemplate.getScaledD( ( isRowInTopSash(rowNum) ? getPanelWidth() : getPanelWidth(false) )/300 , ( isRowInTopSash(rowNum) ? getPanelHeight() : getPanelHeight(false) )/300 )[0]"/>
                <path style="fill:#f0f0f1;" [attr.transform]="'scale(' + getScaleX(svgTemplate, rowNum) + ',' + getScaleY(svgTemplate, rowNum) +') ' + svgTemplate.getTransform()" id="{{getPaneID(rowNum, colNum, paneNum)}}" *ngFor="let paneNum of range(svgTemplate.subShapes.length-1)" [attr.d]="getPaneD(svgTemplate.getScaledD( ( isRowInTopSash(rowNum) ? getPanelWidth() : getPanelWidth(false) )/300 , ( isRowInTopSash(rowNum) ? getPanelHeight() : getPanelHeight(false) )/300 )[0], paneNum)"/>
            </svg> -->
        </div>
    </div>



<!-- <svg xmlns="http://www.w3.org/2000/svg" width="109mm" height="114mm" viewBox="-4 40 109 114" id="currentTemplate">
    <path id="svgTemplate" style="fill:#666666" d=""/>
    <path *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" id="pane{{i}}" (click)="updateSelectedPane(i)"/>
</svg> -->

<!-- <div class="rightSide">
    <p id="currentLayoutText"></p>
    <p id="currentPanelIndexText"></p>
    <div class="bottomRightFullWin">
        <div class="bottomRightWindowTemplate" *ngFor="let window of panelLayout; let i = index"> -->
            <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
            src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
            (click)="displayTemplate(window, i)"/> -->
    
            <!-- <svg *ngFor="let svgTemplate of window" xmlns="http://www.w3.org/2000/svg" class="bottomRightSvgTemplateIcons"  [attr.viewBox]=getTemplateViewBox(svgTemplate.getOptimizedD())>
                <path  style="fill:#666666;" [attr.d]=svgTemplate.getOptimizedD()/>
            </svg>
        </div>
    </div>
</div> -->