<div>
    <div id="windowPreviewContainer">
        <!-- Dynamically create svg items to go in here -->
    </div>
     <input type="button" id="button_nextPane" value="Next Pane"
    (click)="nextPane()"/>
</div>


<!-- <svg xmlns="http://www.w3.org/2000/svg" width="109mm" height="114mm" viewBox="-4 40 109 114" id="currentTemplate">
    <path id="svgTemplate" style="fill:#666666" d=""/>
    <path *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" id="pane{{i}}" (click)="updateSelectedPane(i)"/>
</svg> -->