<!-- Modal for howTo info -->
<div class="modal fade" id="howToModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{this.howToPosts[0].fields.stage}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span [innerHTML]="this.contentfulService.richtextToHtml(this.howToPosts[0].fields.bodyCopy)"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Back to Your Window</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div id="stage5Container">
    <div id="sideText">
        <h1><b>{{this.posts[0].fields.stage5header}}</b></h1>
        <span class="bodyText" [innerHTML]="this.contentfulService.addModalLink(this.contentfulService.markdownToHtml(this.posts[0].fields.stage5body), 5)"></span>
        <div id="windowCartDetails" class="notOnMobile">
            <p *ngIf="this.sharedDataService.sampleOrder == ''" [textContent]="getWindowWidth()"></p>
            <p *ngIf="this.sharedDataService.sampleOrder == ''" [textContent]="getWindowHeight()"></p>
            <p *ngIf="this.sharedDataService.sampleOrder == ''" [textContent]="getPanelWidth()"></p>
            <p *ngIf="this.sharedDataService.sampleOrder == ''" [textContent]="getPanelHeight()"></p>
            <p *ngIf="this.sharedDataService.sampleOrder == 'coasters'">Coaster Set (4): 4 inches square</p>
            <p *ngIf="this.sharedDataService.sampleOrder == 'lightcatcher'">Lightcatcher: 12 inches square</p>
            <hr *ngIf="this.isDoubleHung()" />
            <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashWidth()"></p>
            <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashHeight()"></p>
            <p *ngIf="this.isDoubleHung()" [textContent]="getPanelWidth(false)"></p>
            <p *ngIf="this.isDoubleHung()" [textContent]="getPanelHeight(false)"></p>
            <p [textContent]="getWindowPrice()"></p>
            <!-- <input (click)="nextstageCheckout()" type="button" class="btn btn-dark btn-med" value="Back"/> -->
            <!-- <input (click)="goToStage4()" type="button" class="btn btn-light btn-med" id="submitInput" value="Back"/> -->
            <!-- <input *ngIf="this.sharedDataService.signedIn" (click)="saveDesign()" type="button" class="btn btn-light btn-med" id="submitInput" value="Save Design"/> -->
            <!-- <input (click)="nextstageCheckout()" type="button" class="btn btn-dark btn-med" id="submitInput" value="Checkout"/> -->
        </div>
    </div>
    <div id="bigContainer">
        <div id="finishedWindowPreview">
            <app-window-preview-container [finished]="true"></app-window-preview-container>
            <svg *ngIf="this.sharedDataService.currentStepID >= 4  && this.sharedDataService.currentStepID <= 6 && this.sharedDataService.signedIn" (click)="saveDesign()" xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-cloud-download saveIcon" viewBox="0 0 16 16">
                <path d="M 5.1248,1.07354 A 4.424,4.4237529 0 0 1 8,0 c 2.152,0 3.9384,1.5999106 4.1328,3.6629954 1.2736,0.1799899 2.2672,1.2463304 2.2672,2.5550573 0,1.4367197 -1.1984,2.5814557 -2.6504,2.5814557 H 9.6 a 0.4,0.39997766 0 0 1 0,-0.7999553 h 2.1504 c 1.0328,0 1.8496,-0.8095547 1.8496,-1.7815004 0,-0.9727457 -0.816,-1.7823005 -1.8504,-1.7823005 h -0.4 V 4.0357746 C 11.3504,2.2598738 9.8624,0.79995531 8,0.79995531 A 3.624,3.6237976 0 0 0 5.6472,1.6799062 C 5.0416,2.201477 4.7248,2.8302419 4.7248,3.3238143 v 0.35838 l -0.356,0.039198 C 3.2512,3.8437853 2.4,4.761334 2.4,5.854073 2.4,7.0276074 3.384,7.9995531 4.6248,7.9995531 H 6.4 a 0.4,0.39997766 0 0 1 0,0.7999553 H 4.6248 C 2.9664,8.7995084 1.6,7.4923815 1.6,5.854073 1.6,4.4437518 2.6128,3.275817 3.9536,2.9798335 4.068,2.2894721 4.512,1.6015105 5.1248,1.07354 Z"/>
                <path d="m 7.7166654,12.682492 a 0.4,0.39997766 0 0 0 0.5664,0 l 2.3999996,-2.399866 a 0.40050544,0.40048306 0 0 0 -0.5664,-0.5663688 L 8.3998654,11.433761 V 4.3997542 a 0.4,0.39997766 0 0 0 -0.8,0 v 7.0340068 l -1.7168,-1.7175038 a 0.40050544,0.40048306 0 0 0 -0.5664,0.5663688 z"/>
                <text
                    xml:space="preserve"
                    style="font-style:normal;font-weight:normal;font-size:3.70404px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.124573"
                    x="2.223613"
                    y="18.106468"
                    id="text224"
                    transform="scale(1.1762409,0.85016598)"><tspan
                    sodipodi:role="line"
                    id="tspan222"
                    style="stroke-width:0.124573"
                    x="2.223613"
                    y="18.106468">Save</tspan>
                </text>
            </svg>
        </div>
    <!-- <div class="row d-flex justify-content-center topText">
        <div class="col-5">
            <h1>Your complete design!</h1>
            <p>Save your design for later or send it to the cart for purchase. 
                Click the back button if things don’t look right.</p>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Format</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Price</h6>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src="https://i.imgur.com/2DsA49b.jpg" class="book-img">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text">Thinking, Fast and Slow</h6>
                    <p class="mob-text">Daniel Kahneman</p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <p class="mob-text">Digital</p>
                </div>
                <div class="col-4">
                    <div class="row d-flex justify-content-end px-3">
                        <p class="mb-0" id="cnt1">1</p>
                        <div class="d-flex flex-column plus-minus">
                            <span class="vsm-text plus">+</span>
                            <span class="vsm-text minus">-</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h6 class="mob-text">$9.99</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src="https://i.imgur.com/Oj1iQUX.jpg" class="book-img">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text">Homo Deus: A Brief<br>History of Tomorrow</h6>
                    <p class="mob-text">Yuval Noah Harari</p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <p class="mob-text">Paperback</p>
                </div>
                <div class="col-4">
                    <div class="row d-flex justify-content-end px-3">
                        <p class="mb-0" id="cnt2">1</p>
                        <div class="d-flex flex-column plus-minus">
                            <span class="vsm-text plus">+</span>
                            <span class="vsm-text minus">-</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h6 class="mob-text">$13.50</h6>
                </div>
            </div>
        </div>
    </div> -->

    </div>
</div>