<!-- Modal for howTo info -->
<div class="modal fade" id="howToModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{this.howToPosts[0].fields.stage}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span [innerHTML]="this.contentfulService.richtextToHtml(this.howToPosts[0].fields.bodyCopy)"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Back to Your Window</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div id="stage5Container">
    <div id="sideText">
        <h1><b>{{this.posts[0].fields.stage5header}}</b></h1>
        <span class="bodyText" [innerHTML]="this.contentfulService.addModalLink(this.contentfulService.markdownToHtml(this.posts[0].fields.stage5body), 5)"></span>
        <div id="windowCartDetails" class="notOnMobile">
            <p [textContent]="getWindowWidth()"></p>
            <p [textContent]="getWindowHeight()"></p>
            <p [textContent]="getPanelWidth()"></p>
            <p [textContent]="getPanelHeight()"></p>
            <hr *ngIf="this.isDoubleHung()" />
            <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashWidth()"></p>
            <p *ngIf="this.isDoubleHung()" [textContent]="getBottomSashHeight()"></p>
            <p *ngIf="this.isDoubleHung()" [textContent]="getPanelWidth(false)"></p>
            <p *ngIf="this.isDoubleHung()" [textContent]="getPanelHeight(false)"></p>
            <!-- <input (click)="nextstageCheckout()" type="button" class="btn btn-dark btn-med" value="Back"/> -->
            <!-- <input (click)="goToStage4()" type="button" class="btn btn-light btn-med" id="submitInput" value="Back"/> -->
            <!-- <input *ngIf="this.sharedDataService.signedIn" (click)="saveDesign()" type="button" class="btn btn-light btn-med" id="submitInput" value="Save Design"/> -->
            <!-- <input (click)="nextstageCheckout()" type="button" class="btn btn-dark btn-med" id="submitInput" value="Checkout"/> -->
        </div>
    </div>
    <div id="bigContainer">
        <div id="finishedWindowPreview">
            <app-window-preview-container [finished]="true"></app-window-preview-container>
            <svg *ngIf="this.sharedDataService.currentStepID == 6 && this.sharedDataService.signedIn" (click)="saveDesign()" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-cloud-download saveIcon" viewBox="0 0 16 16">
                <path d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                <path d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
            </svg>
        </div>
    <!-- <div class="row d-flex justify-content-center topText">
        <div class="col-5">
            <h1>Your complete design!</h1>
            <p>Save your design for later or send it to the cart for purchase. 
                Click the back button if things don’t look right.</p>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Format</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Quantity</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Price</h6>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src="https://i.imgur.com/2DsA49b.jpg" class="book-img">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text">Thinking, Fast and Slow</h6>
                    <p class="mob-text">Daniel Kahneman</p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <p class="mob-text">Digital</p>
                </div>
                <div class="col-4">
                    <div class="row d-flex justify-content-end px-3">
                        <p class="mb-0" id="cnt1">1</p>
                        <div class="d-flex flex-column plus-minus">
                            <span class="vsm-text plus">+</span>
                            <span class="vsm-text minus">-</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h6 class="mob-text">$9.99</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center border-top">
        <div class="col-5">
            <div class="row d-flex">
                <div class="book">
                    <img src="https://i.imgur.com/Oj1iQUX.jpg" class="book-img">
                </div>
                <div class="my-auto flex-column d-flex pad-left">
                    <h6 class="mob-text">Homo Deus: A Brief<br>History of Tomorrow</h6>
                    <p class="mob-text">Yuval Noah Harari</p>
                </div>
            </div>
        </div>
        <div class="my-auto col-7">
            <div class="row text-right">
                <div class="col-4">
                    <p class="mob-text">Paperback</p>
                </div>
                <div class="col-4">
                    <div class="row d-flex justify-content-end px-3">
                        <p class="mb-0" id="cnt2">1</p>
                        <div class="d-flex flex-column plus-minus">
                            <span class="vsm-text plus">+</span>
                            <span class="vsm-text minus">-</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h6 class="mob-text">$13.50</h6>
                </div>
            </div>
        </div>
    </div> -->

    </div>
</div>