#stage5Container {
    display: flex;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

#sideText {
    flex:1;
    padding-left: 2vw;
    padding-right: 2vw;
    
}
#bigContainer {
    padding-left: 5vw;
    display: flex;
    justify-content: center;
    flex:2;
}

.btn {
    margin-right: 1vw;
}

@media only screen and (max-width: 576px) {
    .notOnMobile {
        display: none;
    }

    #stage5Container {
        flex-direction: column;
    }

    .saveIcon {
        position: fixed;
        bottom: 15vh;
        right: 5vh;
    }
    h1 {
        font-size: 10vw;
    }

    .bodyText > p {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 576.1px) {
    .notOnLaptop {
        display: none;
    }

    #stage5Container {
        padding-top: 5px;
        padding-bottom: 30vh;
    }
    .saveIcon {
        position: fixed;
        bottom: 10vh;
        right: 5vh;
    }
}