<div id="bigContainer">
    <div id="section1" class="section">
        <h1>Select a Design and Color it In</h1>
        <p>Some random text. And then some more random text. Please stop reading it and instead focus on the visual elements.</p>
        <p>No, seriously, please stop reading this, itmight as well be written in Greek, and maybe that was the better thing to do.</p>
        <p>And one more last line just to fill things in.</p>
        <app-template-selection-container></app-template-selection-container>
    </div>
    <div id="section2" class="section">
        <app-design-window></app-design-window>
        <app-colors-container></app-colors-container>
        <app-dimensions-form></app-dimensions-form>
    </div>
    <div id="section3" class="section">
        <app-window-preview-container></app-window-preview-container>
    </div>
</div>