#stage5Container {
    padding-top: 50px;
    display: flex;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

#sideText {
    flex:1;
    padding-top: 20px;
    padding-left: 2vw;
    padding-right: 2vw;
    
}
#bigContainer {
    padding-top: 5vh;
    padding-left: 5vw;
    display: flex;
    justify-content: center;
    flex:2;
}

.btn {
    margin-right: 1vw;
}