#stage5Container {
    padding-top: 80px;
}

#sideText {
    padding-top: 20px;
    width: 80vw;
}
#bigContainer {
    display: flex;
}
#finishedWindowPreview {
    flex:1;
}

#windowCartDetails {
    flex:3;
}

#submitInput {
    width: 30vw;
}