.form-control, .formLabel {
    font-size: 1.5vw;
}

#dimensionsFormContainer {
    max-height: 100%;
}

#addInput, #createInput, #panesInput, #resetInput {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
}