.form-control, .formLabel {
    font-size: 1.5vw;
}

#dimensionsFormContainer {
    max-height: 100%;
}

#addInput, #updateInput, #createInput, #deletePanelInput, #panesInput, #resetInput {
    margin-right: 2vw;
    margin-bottom: 1vh;
}