<div class="generatorCon">
    <h3>Coupon Code Generator</h3>
    <div class="form-check" *ngFor="let codePrefix of ['coasters', 'lightcatcher', '4sqFt', '9sqFt', '16sqFt']">
        <input class="form-check-input" name="couponRadio" type="radio" id="radio_{{codePrefix}}" value="{{codePrefix}}">
        <label class="form-check-label" for="radio_{{codePrefix}}">{{codePrefix}}</label>
    </div>
    <input type="button" class="btn btn-med btn-dark generateButton" value="Generate" (click)="generateCouponCode()" />
    <p class="currentCodeTxt">Code: {{this.currentCouponCode}}</p>
</div>