#dealerPageContainer {
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

#infoSection {
    padding-top: 5vh;
    display: grid;
    width:90vw;
    margin:auto;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content: space-around;
}

.infoHeader {
    text-align: center;
}

.infoBody {
    font-size: small;
}

@media only screen and (max-width: 576px) {
    #dealerPageContainer > p {
        font-size: 16px;
    }

    #dealerPageContainer > ul > li > p{
        font-size: 16px;
    }
}