<div id="bigContainer">
    <div id="section1" class="section">
        <h1><b>Panel D Testing</b></h1>
        <form id="dTestingContainer">
            <div class="form-group form-row">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">d:</span>
                    </div>
                    <input type="text" class="form-control" id="dTestingInput">
                </div>
            </div>
            <input type="button" class="btn btn-dark btn-med" id="dTestingButton" (click)="testDAttribute()" value="Test d"/>
        </form>
        <h1><b>Panel Management</b></h1>
        <p></p>
        <app-template-info-form></app-template-info-form>
        <p></p>
        <h1><b>Panel Details</b></h1>
        <form id="dimensionsFormContainer">
            <div class="form-group form-row">
                <div class="col input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Filament Area (mm<sup>2</sup>):</span>
                    </div>
                    <input type="number" class="form-control" id="filamentPercentageInput">
                </div>
            </div>
            <input type="button" class="btn btn-dark btn-med" id="filamentPercentageButton" (click)="addFilamentPercentage()" value="Save Filament Area"/>
        </form>
        <input type="button" class="btn btn-dark btn-med" (click)="getPanelAutofillString()" id="panelAutofillInput"  value="Save Autofill Assignments"/>
        <input type="button" class="btn btn-dark btn-med" (click)="addPanelSymmetricPanes()" id="panelSymmetricPanesInput"  value="Save Symmetric Panes"/>
        <!-- <input type="button" class="btn btn-dark btn-med" (click)="deletePanel()" id="deletePanelInput"  value="Delete Panel"/> -->
        
        <!-- Start of Breadcrumbs -->
        <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
            <div class="text-center">
                <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
            </div>
            <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
        </div> -->
        <!-- End of Breadcrumbs -->
    </div>
    <div id="section2" class="section">
        <app-design-window *ngIf="this.onPanels"></app-design-window>
        <!-- <app-colors-container *ngIf="this.onPanels" [paneColors]=false></app-colors-container> -->

    </div>
</div>

<div id="bottomBigContainer">
    <div class="leftSide">
        <div id="bottomSection1" class="section">
            <h1><b>Template Builder</b></h1>
            <p><b>Select a Panelset</b></p>
            <!-- Start of Breadcrumbs -->
            <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
                <div class="text-center">
                    <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
                </div>
                <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
            </div> -->
            <!-- End of Breadcrumbs -->
        </div>
        <div id="bottomSection2" class="section">
            <div class="fullWin">
                <div class="windowTemplate" *ngFor="let window of this.sharedDataService.svgTemplateData; let i = index">
                    <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
                    src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
                    (click)="displayTemplate(window, i)"/> -->
                    <!-- <button *ngFor="let svgTemplate of window" (click)="displayTemplate(window, i)" [textContent]="svgTemplate.name"></button> -->
                    <div *ngFor="let svgTemplate of window">
                        <svg *ngIf="svgTemplate.panelNumber == window[0].panelNumber" xmlns="http://www.w3.org/2000/svg" (click)="displayTemplate(window, i)" class="svgTemplateIcons"  [attr.viewBox]=getTemplateViewBox(getOptimizedTemplateD(svgTemplate.d))>
                            <path  style="fill:#666666;" [attr.d]=getOptimizedTemplateD(svgTemplate.d)/>
                        </svg>
                        <br *ngIf="svgTemplate.panelNumber == window[0].panelNumber"/>
                        <button *ngIf="svgTemplate.panelNumber == window[0].panelNumber" (click)="displayTemplate(window, i)" [textContent]="svgTemplate.id"></button>
                    </div>
                    
                </div>
            </div>
            <div class="panelWindowTemplate">
                <div class="panelFullWin">
                    <div class="svgPanelIcons" *ngFor="let svgTemplate of currentWindow; let i = index">
                        <svg class="svgPanelIconPic" xmlns="http://www.w3.org/2000/svg" (click)="this.sharedDataService.chosenPanel = svgTemplate; displayPanel(svgTemplate.d, 0, 0); autofillPanel(svgTemplate.panelAutofillString); choosePanel(svgTemplate.panelNumber)"  [attr.viewBox]=getTemplateViewBox(getOptimizedTemplateD(svgTemplate.d))>
                            <path id="svgTemplateLayoutPanel{{i}}" style="fill:#666666;" [attr.d]=getOptimizedTemplateD(svgTemplate.d)/>
                            <path *ngFor="let pane of getPanelPanes(svgTemplate.d); let paneId = index" [attr.d]="pane.getScalablePath()" id="svgTemplateLayoutPanel{{i}}_pane{{paneId}}" [attr.fill]="getPaneAutofillStyle(svgTemplate.panelAutofillString, paneId)"></path>
                        </svg>
                        <button [textContent]="svgTemplate.panelNumber" (click)="this.sharedDataService.chosenPanel = svgTemplate; displayPanel(svgTemplate.d, 0, 0); autofillPanel(svgTemplate.panelAutofillString); choosePanel(svgTemplate.panelNumber)"></button>
                    </div>
                </div>
            </div>
            <form id="dimensionsFormContainer">
                <p><b>Define Template Dimensions:</b></p>
                <div class="form-group form-row">
                    <div class="col">
                        <label class="formLabel" for="leftRightInput">Number of Panels Left to Right</label>
                        <input type="number" class="form-control" id="leftRightInput">
                    </div>
                    <div class="col">
                        <label class="formLabel" for="topBottomInput">Number of Panels Top to Bottom</label>
                        <input type="number" class="form-control" id="topBottomInput">
                    </div>
                </div>

                <input type="button" class="btn btn-dark btn-med" (click)="updateLayout()" id="updateLayoutInput"  value="Update Template Dimensions"/>
                
                <br/><p>Click Panels to Add to Template</p>
                <input type="button" class="btn btn-dark btn-med" (click)="mirrorLastPanel()" id="mirrorPanelInput" value="Mirror Last Panel"/>
                <input type="button" class="btn btn-dark btn-med" (click)="rotateLastPanel()" id="rotatePanelInput" value="Rotate Last Panel"/>
                <input type="button" class="btn btn-dark btn-med" (click)="undoPanelChoice()" id="undoLayoutInput" value="Undo"/>
                
                <br/>
                <input type="button" class="btn btn-dark btn-med" (click)="addTemplate()" id="createLayoutInput"  value="Save Template"/>
                <input type="button" class="btn btn-dark btn-med" (click)="deleteTemplate()" id="templateDeleteInput"  value="Delete Template"/>
                <input type="button" class="btn btn-dark btn-med" (click)="switchTemplatePanel()" id="templatePanelSwitchInput" [value]="getTemplatePanelSwitchText()"/>
                
            </form>
        </div>
        
    </div>
    <div class="rightSide">
        <p id="currentLayoutText"></p>
        <p id="currentPanelIndexText"></p>
        <svg xmlns="http://www.w3.org/2000/svg" (click)="decreaseCurrentLocation(); updateCurrentLocationText()" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" (click)="increaseCurrentLocation(); updateCurrentLocationText()" width="32" height="32" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" (click)="moveUpLocation(); updateCurrentLocationText()" width="32" height="32" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" (click)="moveDownLocation(); updateCurrentLocationText()" width="32" height="32" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
        </svg>
        <div class="bottomRightFullWin">
            <div class="bottomRightWindowTemplate" *ngFor="let window of panelLayout; let i = index">
                <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
                src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
                (click)="displayTemplate(window, i)"/> -->
        
                <svg *ngFor="let svgTemplate of window; let j = index" xmlns="http://www.w3.org/2000/svg" class="bottomRightSvgTemplateIcons"  [attr.viewBox]=getTemplateViewBox(svgTemplate.getOptimizedD())>
                    <path [attr.fill]="getCurrentPanelFill(i, j)" [attr.transform]="svgTemplate.getTransform()" [attr.d]="svgTemplate.getOptimizedD()"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<div id="templateSelectionContainer" *ngIf="!this.onPanels">
    <div id="templateIconsCategoryContainer">
        <app-template-selection-container [flexColumn]="false"></app-template-selection-container>
        <div id="templateCategorySliders">
            <div class="custom-control custom-switch" *ngFor="let templateCategory of ['Abstract', 'Artist Inspired', 'Art Deco', 'Classics', 'Garden', 'Geometric', 'Interests',  'Mid Century Modern', 'Sacred', 'Specialty', 'Traditional']">
                <input type="checkbox" class="custom-control-input" id="customSwitch_{{templateCategory}}">
                <label class="custom-control-label" for="customSwitch_{{templateCategory}}">{{templateCategory}}</label>
            </div>
            <input type="button" class="btn btn-dark btn-med" (click)="addTemplateCategories()" id="templateCategoryInput"  value="Update Template Categories"/>
            <input type="button" class="btn btn-dark btn-med" (click)="filterTemplates()" id="templateFilterInput"  value="Filter Templates (select 1 category or none)"/>
        </div>
    </div>
    <!-- <div *ngIf="!this.onPanels" id="templateAutofillDesigner">
        <div id="templateAutofillDesignWindow">
            <app-design-window></app-design-window>
            <app-colors-container [paneColors]=false></app-colors-container>
        </div>
        <div id="templateAutofillWindowPreview">
            <app-window-preview-container></app-window-preview-container>
            <input type="button" class="btn btn-dark btn-med" (click)="getTemplateAutofillString()" id="templateAutofillInput"  value="Get Template Autofill Text"/>
            <input type="button" class="btn btn-dark btn-med" (click)="autofillTemplate()" id="templateAutofillToggleInput"  value="Toggle Autofill"/>
        </div>
        
    </div> -->
    
</div>

<div id="palleteBuilderContainer"> 
    <app-colors-container [paneColors]=true></app-colors-container>
    <div class="palleteInfo">
        <p><b>Pallete Colors:</b></p>
        <div class="form-group form-row">
            <div class="col">
                <label class="formLabel" for="palleteSizeInput">Number of Colors</label>
                <input type="number" class="form-control" id="palleteSizeInput">
            </div>
        </div>
        <input type="button" class="btn btn-dark btn-med" (click)="updatePalleteSize()" id="updatePalleteSizeInput"  value="Update Pallete Size"/>
        <input type="button" class="btn btn-dark btn-med" (click)="addPallete()" id="addPalleteInput"  value="Add Pallete"/>
    </div>
    <svg *ngIf="this.currentPalleteSize > 2" xmlns="http://www.w3.org/2000/svg" class="svgPalleteIcons" [attr.viewBox]="'0,0,300,300'">
        <path [attr.style]="'fill:#666666;stroke-width:2; stroke:#000000'" [attr.d]="'M 0,0 V 300 H 300 V 0 Z'"/>
        <path [attr.style]="'fill:#'+color+';stroke-width:2; stroke:#000000'" *ngFor="let color of this.currentPalleteColors; let i = index" (click)="updatePalleteColor(i)" [attr.d]="getPalleteColorD(i)"/>
    </svg>
</div>
<br/>
<h3 style="margin-left: 1vw;">Palletes</h3>
<div class="palletesWithLabels">
    <ng-container *ngFor="let pallete of this.palletes">
        <div>
            <svg *ngIf="pallete.colorPlacements.split(',').length == this.currentPalleteSize && this.isPalleteInFilter(pallete.category)" [attr.style]="pallete.id == this.selectedPalleteID ? 'border:3px solid blue;' : ''" xmlns="http://www.w3.org/2000/svg" class="svgAllPalleteIcon" [attr.viewBox]="'0,0,300,300'">
                <path [attr.style]="'fill:#666666;stroke-width:2; stroke:#000000'" [attr.d]="'M 0,0 V 300 H 300 V 0 Z'"/>
                <path [attr.style]="'fill:#'+color+';stroke-width:2; stroke:#000000'" *ngFor="let color of pallete.colorPlacements.split(','); let i = index" [attr.d]="getPalleteColorD(i)"/>
            </svg>
            <br *ngIf="pallete.colorPlacements.split(',').length == this.currentPalleteSize && this.isPalleteInFilter(pallete.category)"/>
            <button *ngIf="pallete.colorPlacements.split(',').length == this.currentPalleteSize && this.isPalleteInFilter(pallete.category)" (click)="this.selectPallete(pallete.id)" [textContent]="pallete.id" class="palleteIDButton"></button>
        </div>
    </ng-container>
</div>
<div id="palleteCategorySliders">
    <div class="custom-control custom-switch" *ngFor="let palleteCategory of ['Pasteles', 'Natural', 'Moody', 'Monochrome', 'Vivid', 'Seasonal']">
        <input type="checkbox" class="custom-control-input" id="customSwitch_{{palleteCategory}}">
        <label class="custom-control-label" for="customSwitch_{{palleteCategory}}">{{palleteCategory}}</label>
    </div>
    <input type="button" class="btn btn-dark btn-med" (click)="addPalleteCategories()" id="palleteCategoryInput"  value="Update Pallete Categories"/>
    <input type="button" class="btn btn-dark btn-med" (click)="filterPalletes()" id="palleteFilterInput"  value="Filter Palletes (select 1 category or none)"/>
</div>


<button (click)="generateCollectionTemplates()" class="btn btn-dark">Click Me</button>