#bigContainer, #bottomBigContainer {
    display:flex;
    width:100%;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

#palleteBuilderContainer {
    display: flex;
    margin-top: 10vh;
}

.palleteInfo {
    margin-left:1vw;
}

.svgPalleteIcons {
    width:20vw;
    height:20vw;
    border: 1px solid gray;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.svgAllPalleteIcon {
    width:10vw;
    height:10vw;
    border: 1px solid gray;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

/* Sections */
#section1 {
    flex:3;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-around;
}
#section2 {
    flex:5;
    justify-content: space-around;
}
.section {margin:10px;}

/* Breadcrumbs */
.breadCrumbs {
    width: 100%;
    padding-bottom: 20vh;
}
.prevBreadCrumb {
    position: absolute;
    right: 5vw;
}
.nextBreadCrumb {
    position: absolute;
    left: 5vw;
}
.breadCrumbButton {
    font-size: 1.5vw;
}

.svgTemplateIcons {
    width:7vw;
}

.bottomRightSvgTemplateIcons {
    width:6vw;
}

.svgPanelIconPic {
    width:5vw;
}

.svgPanelIcons {
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
}

.fullWin {
    display: flex;
    overflow-x: scroll;  
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 80%;
    max-height: 35vh;
    border: 1px solid black;
}

.panelFullWin {
    display: flex;
}
.bottomRightFullWin {
    display: flex;
    overflow: visible;
    max-width: 80%;
    flex-direction: column;
}

.fullWin::-webkit-scrollbar {
    -webkit-appearance: none;
}

.fullWin::-webkit-scrollbar:horizontal {
    height: 11px;
}

.fullWin::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.leftSide, .rightSide {
    flex: 1;
    max-width: 50vw;
}
.windowTemplate {
    flex:1;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
}

.bottomRightWindowTemplate {
    flex:1;
    display: flex;
}

.panelWindowTemplate {
    overflow-x: scroll;  
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 80%;
    border: 1px solid black;
}

#dimensionsFormContainer {
    width: 80%;
    padding-top: 2vh;
}

.rightSide {
    padding-top: 2vh;
}


.btn {
    margin-right: 1vw;
    margin-bottom: 1vh;
}

#currentLayoutText {
    float:left;
    padding-right: 1vw;
}

#templateAutofillDesigner {
    display: flex;
}

#templateAutofillDesignWindow {
    flex:5;
}

#templateAutofillWindowPreview {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#templateAutofillInput {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

#templateAutofillToggleInput {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}

#templateIconsCategoryContainer {
    display: flex;
}

#templateCategorySliders {
    margin-left:2vw;
}

/* Keeps input arrows visible for Chrome */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}