<div id="bigContainer">
    <div id="section1" class="section">
        <h1><b>Panel Insertion</b></h1>
        <p></p>
        <app-template-info-form></app-template-info-form>
        <p></p>
        <h1><b>Autofill and Panel Information</b></h1>
        <input type="button" class="btn btn-dark btn-med" (click)="getPanelAutofillString()" id="panelAutofillInput"  value="Get Autofill Text"/>
        <input type="button" class="btn btn-dark btn-med" (click)="addPanelSymmetricPanes()" id="panelSymmetricPanesInput"  value="Add Symmetric Panes"/>
        <!-- Start of Breadcrumbs -->
        <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
            <div class="text-center">
                <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
            </div>
            <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
        </div> -->
        <!-- End of Breadcrumbs -->
    </div>
    <div id="section2" class="section">
        <app-design-window *ngIf="this.onPanels"></app-design-window>
        <app-colors-container *ngIf="this.onPanels" [paneColors]=true></app-colors-container>

    </div>
</div>

<div id="bottomBigContainer">
    <div class="leftSide">
        <div id="bottomSection1" class="section">
            <h1><b>Template Layout Interface</b></h1>
            <p>Choose a template and enter your template's panel layout (e.g. 2x4)
            </p>
            <!-- Start of Breadcrumbs -->
            <!-- <div class="breadCrumbs" id="step2BBreadCrumbs">
                <div class="text-center">
                    <a (click)="nextstage5()" class="nextBreadCrumb"> <input type="button" class="btn btn-dark btn-lg breadCrumbButton" value="Next"/> </a>
                </div>
                <a (click)="prestage3()" class="prevBreadCrumb"> <input type="button" class="btn btn-outline-dark btn-sm breadCrumbButton" value="Back"/> </a>
            </div> -->
            <!-- End of Breadcrumbs -->
        </div>
        <div id="bottomSection2" class="section">
            <div class="fullWin">
                <div class="windowTemplate" *ngFor="let window of this.sharedDataService.svgTemplateData; let i = index">
                    <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
                    src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
                    (click)="displayTemplate(window, i)"/> -->
                    <!-- <button *ngFor="let svgTemplate of window" (click)="displayTemplate(window, i)" [textContent]="svgTemplate.name"></button> -->
                    <div *ngFor="let svgTemplate of window">
                        <svg *ngIf="svgTemplate.name.charAt(svgTemplate.name.length-1) == '0' && svgTemplate.name.charAt(svgTemplate.name.length-2) == '_'" xmlns="http://www.w3.org/2000/svg" (click)="displayTemplate(window, i)" class="svgTemplateIcons"  [attr.viewBox]=getTemplateViewBox(getOptimizedTemplateD(svgTemplate.d))>
                            <path  style="fill:#666666;" [attr.d]=getOptimizedTemplateD(svgTemplate.d)/>
                        </svg>
                        <br *ngIf="svgTemplate.name.charAt(svgTemplate.name.length-1) == '0' && svgTemplate.name.charAt(svgTemplate.name.length-2) == '_'"/>
                        <button *ngIf="svgTemplate.name.charAt(svgTemplate.name.length-1) == '0' && svgTemplate.name.charAt(svgTemplate.name.length-2) == '_'" (click)="displayTemplate(window, i)" [textContent]="svgTemplate.id"></button>
                    </div>
                    
                </div>
            </div>
            <div class="panelWindowTemplate">
                <div class="panelFullWin">
                    <svg *ngFor="let svgTemplate of currentWindow; let i = index" xmlns="http://www.w3.org/2000/svg" (click)="displayPanel(svgTemplate.d, 0, 0); autofillPanel(svgTemplate.panelAutofillString); choosePanel(svgTemplate.panelNumber)" class="svgTemplatePanelIcons"  [attr.viewBox]=getTemplateViewBox(getOptimizedTemplateD(svgTemplate.d))>
                        <path id="svgTemplateLayoutPanel{{i}}" style="fill:#666666;" [attr.d]=getOptimizedTemplateD(svgTemplate.d)/>
                    </svg>
                </div>
            </div>
            <form id="dimensionsFormContainer">
                <p>Number of Panels (e.g. 2x4):</p>
                <div class="form-group form-row">
                    <div class="col">
                        <label class="formLabel" for="leftRightInput">Left to Right</label>
                        <input type="number" class="form-control" id="leftRightInput">
                    </div>
                    <div class="col">
                        <label class="formLabel" for="topBottomInput">Top to Bottom</label>
                        <input type="number" class="form-control" id="topBottomInput">
                    </div>
                </div>
            
                <input type="button" class="btn btn-dark btn-med" (click)="updateLayout()" id="updateLayoutInput"  value="Update dims (2x6)"/>
                <input type="button" class="btn btn-dark btn-med" (click)="addTemplate()" id="createLayoutInput"  value="Create Layout"/>
                <input type="button" class="btn btn-dark btn-med" (click)="undoPanelChoice()" id="undoLayoutInput" value="Undo"/>
                <input type="button" class="btn btn-dark btn-med" (click)="rotateLastPanel()" id="rotatePanelInput" value="Rotate Last Panel"/>
                <input type="button" class="btn btn-dark btn-med" (click)="mirrorLastPanel()" id="mirrorPanelInput" value="Mirror Last Panel"/>
                <input type="button" class="btn btn-dark btn-med" (click)="switchTemplatePanel()" id="templatePanelSwitchInput" [value]="getTemplatePanelSwitchText()"/>
            </form>
        </div>
        
    </div>
    <div class="rightSide">
        <p id="currentLayoutText"></p>
        <p id="currentPanelIndexText"></p>
        <div class="bottomRightFullWin">
            <div class="bottomRightWindowTemplate" *ngFor="let window of panelLayout; let i = index">
                <!-- <img class="svgTemplateIcons" *ngFor="let svgTemplate of window" 
                src="{{'assets/img/' + svgTemplate.name}}" alt="{{svgTemplate.name}}"
                (click)="displayTemplate(window, i)"/> -->
        
                <svg *ngFor="let svgTemplate of window" xmlns="http://www.w3.org/2000/svg" class="bottomRightSvgTemplateIcons"  [attr.viewBox]=getTemplateViewBox(svgTemplate.getOptimizedD())>
                    <path  style="fill:#666666;" [attr.transform]="svgTemplate.getTransform()" [attr.d]="svgTemplate.getOptimizedD()"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<div id="templateSelectionContainer">
    <app-template-selection-container [flexColumn]="false"></app-template-selection-container>
    <div *ngIf="!this.onPanels" id="templateAutofillDesigner">
        <div id="templateAutofillDesignWindow">
            <app-design-window></app-design-window>
            <app-colors-container [paneColors]=true></app-colors-container>
        </div>
        <div id="templateAutofillWindowPreview">
            <app-window-preview-container></app-window-preview-container>
            <input type="button" class="btn btn-dark btn-med" (click)="getTemplateAutofillString()" id="templateAutofillInput"  value="Get Template Autofill Text"/>
            <input type="button" class="btn btn-dark btn-med" (click)="autofillTemplate()" id="templateAutofillToggleInput"  value="Toggle Autofill"/>
        </div>
        
    </div>
    
</div>
