#bigContainer, #bottomBigContainer {
    display:flex;
    width:100%;
    padding-top: 80px;
}
/* Text */
h1 {
    font-size: 2.2vw;
}
p {
    font-size: 1.3vw;
}

/* Sections */
#section1 {
    flex:2;
    padding-left: 2vw;
    padding-right: 2vw;
    justify-content: space-around;
}
#section2 {
    flex:4;
    justify-content: space-around;
}
#section3 {
    flex:1;
    justify-content: space-around;
}
.section {margin:10px;}

/* Breadcrumbs */
.breadCrumbs {
    width: 100%;
    padding-bottom: 20vh;
}
.prevBreadCrumb {
    position: absolute;
    right: 5vw;
}
.nextBreadCrumb {
    position: absolute;
    left: 5vw;
}
.breadCrumbButton {
    font-size: 1.5vw;
}

.svgTemplateIcons {
    width:5vw;
}

.bottomRightSvgTemplateIcons {
    width:7vw;
}

.svgTemplatePanelIcons {
    width: 18%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.fullWin {
    display: flex;
    overflow-x: scroll;  
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 80%;
    border: 1px solid black;
}

.bottomRightFullWin {
    display: flex;
    overflow: visible;
    max-width: 80%;
    flex-direction: column;
}

.fullWin::-webkit-scrollbar {
    -webkit-appearance: none;
}

.fullWin::-webkit-scrollbar:horizontal {
    height: 11px;
}

.fullWin::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.leftSide, .rightSide {
    flex: 1;
    max-width: 50vw;
}
.windowTemplate {
    flex:1;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: column;
}

.bottomRightWindowTemplate {
    flex:1;
    display: flex;
}

.panelWindowTemplate {
    overflow-x: scroll;  
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 80%;
    border: 1px solid black;
}

#dimensionsFormContainer {
    width: 80%;
}

.rightSide {
    padding-top: 5vh;
}

.btn {
    margin-right: 1vw;
    margin-top: 1vh;
}